<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Quienes Somos
    </h2>
    <!-- <b class="font-semibold text-4xl mb-4 text-blue-400">hola</b> -->
    <div class="flex flex-col gap-4 text-justify">
        <p>
            La Dirección de Investigación, Desarrollo Tecnológico e Innovación tiene como objeto regular los procesos de
            formulación, planificación, seguimiento, ejecución, evaluación, difusión y divulgación de la investigación,
            desarrollo tecnológico e innovación; así como, promover el desarrollo de la función sustantiva de
            investigación por medio de la innovación y transmisión de conocimientos técnico - tecnológicos del Instituto
            Superior Tecnológico Superarse.
        </p>
    </div>
</div>
<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Información y Contacto
    </h2>
    <div class="flex flex-row gap-8 justify-center">
        <div class="w-1/2 flex flex-col gap-4 text-justify">
            <img src="/assets/modules/investigación/quienes somos/foto.png" style="width:100%;">
        </div>
        <div class="w-1/2 flex flex-col gap-4 text-justify">
            <p>
                MSc. Nathaly Alexandra Freire Pazmay
            </p>
            <p>
                Directora de Investigación, Desarrollo e Innovación.
            </p>
            <p>
                nathaly.freire&#64;superarse.edu.ec
            </p>
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
