<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2
        class="font-semibold text-5xl py-8 mt-4 text-[#8DBF31]"
        style="margin-left: 15%; margin-right: 15%"
    >
        Escuela de Veterinaria
    </h2>
    <section *ngIf="title == 'Enfermeria' || title == 'TODOS'">
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-3xl" id="ENFERMERIA"
                >Tecnología Superior en Enfermería Veterinaria</b
            >
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img
                        src="../../../assets/modules/escuela-veterinaria/PORTADA ENFERMERIA.png"
                        style="width: 100%"
                    />
                </div>
                <div
                    class="w-4/6 flex flex-col gap-4 items-center justify-center"
                >
                    <p class="mb-2">
                        <b class="font-semibold text-1xl">Resolución: </b
                        >RPC-SO-26-No.429-2024
                        <br />
                        <b class="font-semibold text-1xl">Duración: </b>2 Años
                        <br />
                        <b class="font-semibold text-1xl">Modalidad: </b>Híbrida
                        <br />
                        <a (click)="scrollToMalla('mallaEnfermeria')"
                            ><b class="font-semibold text-1xl"
                                >Malla Curricular: </b
                            >4 Niveles</a
                        >
                        <br />
                        <label class="text-justify">
                            Formar Tecnólogos en Enfermería Veterinaria con
                            competencias que les permita atender ampliamente las
                            necesidades de los animales brindando asistencia al
                            médico veterinario en la atención al paciente en
                            actividades como hospitalización, manejo de muestras
                            de laboratorio, estética, cirugía, manejo y cuidado
                            de animales de compañía, de granja y silvestres
                            dentro de clínicas y hospitales veterinarios.
                        </label>
                    </p>
                    <div
                        class="gap-8 text-justify text-xl"
                        style="margin-left: 15%; margin-right: 15%"
                    >
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a
                                target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+veterinaria+para+hacer+una+Tecnología+Superior+en+Enfermería+Veterinaria.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#8DBF31] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                            >
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <p class="mb-2">
                Analiza los fundamentos metodológicos de la investigación
                científica y las peculiaridades de su aplicación en el ámbito
                educativo, identificando diferentes fuentes de la investigación
                a partir de las cuales se desarrollará el proceso investigativo.
            </p>
            <p class="mb-2">
                Determina el nivel de aprendizaje de los estudiantes en un
                proceso educativo específico, utilizando estrategias y
                herramientas sistemáticas y secuenciales, que le permitan
                demostrar su grado de comprensión, profundidad y la habilidad
                para en el aula.
            </p>
            <p class="mb-2">
                Centrado en el desarrollo humano, social y comunitario, desde
                una perspectiva ética, crítica e interdisciplinaria, con
                aptitudes hacia la investigación y la comprensión de los
                procesos cognoscitivos, afectivos y de comportamiento humano;
                los aprendizajes y competencias adquiridas con el sustento
                científico y profesional de la carrera, le permitirán intervenir
                con solvencia ética y profesional en diversos procesos
                educativos en diferentes entornos de aprendizaje en el campo de
                la educación básica.
            </p>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Campo Ocupacional</b>
            <p class="mb-2">
                La formación en enfermería veterinaria capacita a los
                profesionales para desempeñarse efectivamente en una variedad de
                entornos, como clínicas y hospitales veterinarios, zoológicos y
                centros de rescate animal, granjas, empresas agropecuarias y
                organizaciones gubernamentales, entre otros sectores
                relacionados con la carrera.
            </p>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            #mallaEnfermeria
            id="mallaEnfermeria"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <div
                class="gap-8 text-justify mb-5"
                style="margin-left: 15%; margin-right: 15%"
            >
                <iframe
                    src="/assets/modules/escuelas-mallas-pdfs/Enfermería Veterinaria.pdf"
                    width="100%"
                    height="800px"
                    style="border: none"
                >
                </iframe>
                <div style="text-align: center; margin-top: 10px">
                    <a
                        href="/assets/modules/escuelas-mallas-pdfs/Enfermería Veterinaria.pdf"
                        download
                        class="text-blue-600 underline"
                        >Descargar Enfermería Veterinaria PDF</a
                    >
                </div>
            </div>

            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-educacion-humanidades/MALLA.png" style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-educacion-humanidades/MALLA Tecnólogo en Educación Básica.pdf"
                    download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#8DBF31] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>

    <div
        *ngIf="title == 'TODOS'"
        class="border-t-4 border-gray-300 my-5"
        style="margin-left: 15%; margin-right: 15%"
    ></div>

    <section *ngIf="title == 'Produccion-Animal' || title == 'TODOS'">
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-3xl" id="PRODUCCION_AMINAL"
                >Tecnólogo en Producción Animal
            </b>
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img
                        src="../../../assets/modules/escuela-veterinaria/PORTADA PRODUCCION ANIMAL.png"
                        style="width: 100%"
                    />
                </div>
                <div
                    class="w-4/6 flex flex-col gap-4 items-center justify-center"
                >
                    <p class="mb-2">
                        <b class="font-semibold text-1xl">Resolución: </b
                        >RPC-SO-22- No.372 -2O19
                        <br />
                        <b class="font-semibold text-1xl">Duración: </b>2 Años
                        <br />
                        <b class="font-semibold text-1xl">Modalidad: </b>Híbrida
                        <br />
                        <a (click)="scrollToMalla('mallaProduccion')"
                            ><b class="font-semibold text-1xl"
                                >Malla Curricular: </b
                            >4 Niveles</a
                        >
                        <br />
                        <label class="text-justify">
                            El Tecnólogo en Producción Animal es un profesional
                            capacitado para criar y cuidar especies de
                            producción como ganado bovino, porcino y avícola de
                            manera preventiva. Gestiona adecuadamente la
                            nutrición animal, garantizando una provisión
                            dietética adecuada y cuidado continuo. Además,
                            promueve el respeto a los principios de
                            interculturalidad, justicia social, equidad
                            democrática y cuidado del medio ambiente en los
                            diferentes espacios de producción pecuaria.
                        </label>
                    </p>
                    <div
                        class="gap-8 text-justify text-xl"
                        style="margin-left: 15%; margin-right: 15%"
                    >
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a
                                target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+veterinaria+para+ser+Tecnólogo+en+Producción+Animal.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#8DBF31] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                            >
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <p class="mb-2">
                Aplicará en el sector pecuario empresarial privado o público los
                conocimientos adquiridos y generar nuevos modelos y propuestas
                de producciones pecuarias adecuadas y eficaces, así como generar
                y desarrollar nuevos proyectos y emprendimientos.
            </p>
            <p class="mb-2">
                Alcanzará habilidades y conocimientos que le permitirán aplicar
                técnicas e instrumentos para el desarrollo de estrategias en el
                sector pecuario, tanto productivo como reproductivo en las
                diferentes especies.
            </p>
            <p class="mb-2">
                Desarrollará habilidades para la gestión a nivel gerencial en
                áreas específicas de administración de producciones pecuarias,
                actividades de mejoramiento genético animal, nutrición animal de
                producción animal.
            </p>
            <p class="mb-2">
                Conocimientos técnicos en el cuidado preventivo de las especies
                animales de producción pecuaria, como bovinos, porcinos y
                especies avícolas, incluyendo una correcta provisión dietética y
                cuidado permanente; es capaz de manejar un programa preventivo
                de cuidado animal incluyendo sanidad e higiene.
            </p>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Campo Ocupacional</b>
            <p class="mb-2">
                El Tecnólogo en Producción Animal puede administrar centros de
                producción animal, liderando la optimización y la mejora de la
                productividad a través de la transferencia de tecnologías en el
                manejo y nutrición animal.
            </p>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            #mallaProduccion
            id="mallaProduccion"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <div
                class="gap-8 text-justify mb-5"
                style="margin-left: 15%; margin-right: 15%"
            >
                <iframe
                    src="/assets/modules/escuelas-mallas-pdfs/Producción Animal.pdf"
                    width="100%"
                    height="800px"
                    style="border: none"
                >
                </iframe>
                <div style="text-align: center; margin-top: 10px">
                    <a
                        href="/assets/modules/escuelas-mallas-pdfs/Producción Animal.pdf"
                        download
                        class="text-blue-600 underline"
                        >Descargar Producción Animal PDF</a
                    >
                </div>
            </div>

            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-veterinaria/MALLA_PRODUCCION.png" style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-veterinaria/MALLA Tecnólogo en Producción Animal.pdf" download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#8DBF31] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>
</div>
<vicarti-footer class="block" style="margin-top: 64px"></vicarti-footer>
<app-whatsapp></app-whatsapp>
