<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
        Postulación
    </h2>

    <div class="flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify">
            <b class="font-semibold text-3xl text-blue-400">1. Concurso de Méritos y Oposición para Profesores
                Titulares</b>
            <p>
                <a class="text-[#1283C6]"
                    (click)="redirigir('other-page/Período Académico (mayo - octubre 2024)', 'data1', 'Concurso de Méritos y Oposición para Profesores Titulares', 'Período Académico (mayo - octubre 2024)')"
                    style="cursor: pointer;">Período Académico (mayo - octubre 2024)
                </a>
            </p>
        </div>
    </div>

    <div class="flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify">
            <b class="font-semibold text-3xl text-blue-400">2. Proceso de Selección para Profesores No Titulares</b>
            <p>
                <a class="text-[#1283C6]"
                    (click)="redirigir('other-page/Período Académico (noviembre 2024 - abril 2025)', 'data2', 'Proceso de Selección para Profesores No Titulares', 'Período Académico (noviembre 2024 - abril 2025)')"
                    style="cursor: pointer;">Período Académico (noviembre 2024 - abril 2025)
                </a>
            </p>
            <p>
                <a class="text-[#1283C6]"
                    (click)="redirigir('other-page/Período Académico (mayo - octubre 2024)', 'data3', 'Proceso de Selección para Profesores No Titulares', 'Período Académico (mayo - octubre 2024)')"
                    style="cursor: pointer;">Período Académico (mayo - octubre 2024)
                </a>
            </p>
            <p>
                <a class="text-[#1283C6]"
                    (click)="redirigir('other-page/Período Académico (noviembre 2024 - abril 2025)', 'data4', 'Proceso de Selección para Profesores No Titulares', 'Período Académico (noviembre 2024 - abril 2025)')"
                    style="cursor: pointer;">Período Académico (noviembre 2024 - abril 2025)
                </a>
            </p>
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
