<div class="card">
    <div class="flex flex-row gap-4 justify-content-between">
        <h4>Administrador de Artículos o Noticias</h4>
        <button pButton pRipple label="Agregar Artículo" icon="pi pi-plus" (click)="addPage()"></button>
    </div>
    <p-table [value]="articles" [paginator]="true" [selection]="selectedRow" [rows]="10" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:200px" >Orden</th>
                <th style="width:200px" >Última Fecha Actualización</th>
                <th style="width:200px">Título</th>
                <th style="width:200px">Autor</th>
                <th style="width:200px">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-page >
            <tr>
                <td style="width:200px" class="font-bold">{{page.id}}</td>
                <td style="width:200px">{{page.date}}</td>
                <td style="width:200px">{{page.name}}</td>
                <td>
                    <span class="p-buttonset">
                        <button pButton pRipple label="Editar" icon="pi pi-check" [routerLink]="['editor']"></button>
                        <button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="removePage(page.id)"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>