<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2
    class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]"
    style="margin-left: 15%; margin-right: 15%"
>
    Bienestar Institucional
</h2>

<div
    class="flex flex-row gap-8 justify-center"
    style="margin-left: 15%; margin-right: 15%"
>
    <div class="w-1/3 flex flex-col gap-4 text-justify">
        <img
            src="/assets/modules/bienestar-institucional/Quienes somos.png"
            class="mx-auto"
        />
    </div>
    <div class="w-2/3 flex flex-col gap-4 text-justify">
        <b class="font-bold text-3xl text-black">Quienes Somos</b>
        <p class="mb-2">
            La <b>Coordinación de Bienestar Institucional</b> tiene como misión
            promover y mejorar la calidad de vida, así como el bienestar
            integral de todos los miembros de la comunidad educativa del
            Tecnológico Superarse.
        </p>
        <p class="mb-2">
            ¡En el Tecnológico Superarse nos preocupamos por ti! Como parte de
            nuestra comunidad educativa, tienes acceso a una amplia variedad de
            beneficios tanto colectivos como individuales. Nuestro equipo de
            profesionales en Bienestar Institucional está siempre disponible
            para brindarte el apoyo que necesites en todo momento.
        </p>
    </div>
</div>

<div
    class="gap-8 text-justify text-center text-xl my-5"
    style="margin-left: 15%; margin-right: 15%"
>
    <p class="mb-2 text-center font-bold text-black">
        ¡Tu bienestar es parte de superarse!
    </p>
</div>

<div
    class="border-t-4 border-gray-300 my-5"
    style="margin-left: 15%; margin-right: 15%"
></div>

<div
    class="gap-8 text-justify mb-5"
    style="margin-left: 15%; margin-right: 15%"
>
    <div class="gap-8 text-justify mb-5">
        <b class="font-bold text-3xl text-black mb-4">Servicios</b>

        <ul
            class="list-outside list-disc mb-2"
            style="margin-left: 5%; margin-right: 5%"
        >
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-1">
                    Acompañamiento Psicoemocional
                </a>
            </li>
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-2">
                    Acompañamiento Psicopedagógico
                </a>
            </li>
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-3">
                    Trabajo Social
                </a>
            </li>
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-4">
                    Graduados
                </a>
            </li>
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-5">
                    Clubes
                </a>
            </li>
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-6">
                    Orientación vocacional
                </a>
            </li>
            <li>
                <a class="hover:text-[#FBBF2D]" href="bi-servicios-7">
                    Becas
                </a>
            </li>
        </ul>
    </div>
</div>

<div
    class="border-t-4 border-gray-300 my-5"
    style="margin-left: 15%; margin-right: 15%"
></div>

<!-- carrusel de imagenes-->
<div
    class="gap-8 text-justify text-center text-xl my-5"
    style="margin-left: 15%; margin-right: 15%"
>
    <p class="mb-2 text-center font-bold text-black">
        ¡SOMOS UN ESPACIO INCLUSIVO!
    </p>
    <p>
        La Coordinación de Bienestar Institucional siempre se preocupa por
        lograr un ambiente inclusivo y equitativo, logrando la igualdad de
        oportunidades.
    </p>
</div>
<div
    class="gap-8 text-justify text-center text-xl my-5"
>
    <p class="mb-2 text-center font-bold text-black">
        Taller de Lengua de Señas
    </p>
    <div class="image-container">
        <div class="image-row">
            <img
                src="/assets/modules/bienestar-institucional/taller_lengua_senla1.jpg"
                alt="Descripción de la imagen 1"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/taller_lengua_senla2.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/taller_lengua_senla3.jpg"
                alt="Descripción de la imagen 3"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/taller_lengua_senla4.jpg"
                alt="Descripción de la imagen 4"
                class="zoom-image"
            />
        </div>
    </div>
</div>

<div
    class="gap-8 text-justify text-center text-xl my-5"
>
    <p class="mb-2 text-center font-bold text-black">
        Socialización del Protocolo Psicopedagógico
    </p>
    <div class="image-container">
        <div class="image-row">
            <img
                src="/assets/modules/bienestar-institucional/psicopedagogico1.jpg"
                alt="Descripción de la imagen 1"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/psicopedagogico2.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/psicopedagogico3.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/psicopedagogico4.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/psicopedagogico5.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
        </div>
    </div>
</div>

<div
    class="gap-8 text-justify text-center text-xl my-5"
>
    <p class="mb-2 text-center font-bold text-black">
        Sensibilización: Comunicación asertiva con personas con discapacidad.
    </p>
    <div class="image-container">
        <div class="image-row">
            <img
                src="/assets/modules/bienestar-institucional/scapd1.jpg"
                alt="Descripción de la imagen 1"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/scapd2.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/scapd3.jpg"
                alt="Descripción de la imagen 3"
                class="zoom-image"
            />
        </div>
    </div>
</div>

<div
    class="gap-8 text-justify text-center text-xl my-5"
>
    <p class="mb-2 text-center font-bold text-black">
        Espacios accesibles
    </p>
    <div class="image-container">
        <div class="image-row">
            <img
                src="/assets/modules/bienestar-institucional/espacc1.jpg"
                alt="Descripción de la imagen 1"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/espacc2.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/espacc3.jpg"
                alt="Descripción de la imagen 3"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/espacc4.jpg"
                alt="Descripción de la imagen 4"
                class="zoom-image"
            />
        </div>
    </div>
</div>

<div
    class="gap-8 text-justify text-center text-xl my-5"
>
    <p class="mb-2 text-center font-bold text-black">
        Adecuaciones en la señalética (braille)
    </p>
    <div class="image-container">
        <div class="image-row">
            <img
                src="/assets/modules/bienestar-institucional/braile1.jpg"
                alt="Descripción de la imagen 1"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/braile2.jpg"
                alt="Descripción de la imagen 2"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/braile3.jpg"
                alt="Descripción de la imagen 3"
                class="zoom-image"
            />
            <img
                src="/assets/modules/bienestar-institucional/braile4.jpg"
                alt="Descripción de la imagen 4"
                class="zoom-image"
            />
        </div>
    </div>
</div>

<div
    class="gap-8 text-justify text-center text-xl my-5"
    style="margin-left: 15%; margin-right: 15%"
>
    <p class="mb-2 text-center font-bold text-black">
        ¡UN AMBIENTE INCLUSIVO ES PARTE DE SUPERARSE!
    </p>
</div>

<!--fin del carrusel de imagenes-->

<vicarti-footer class="block" style="margin-top: 64px"></vicarti-footer>
<app-whatsapp></app-whatsapp>
