<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">
        Titulación
    </h2>
    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <div *ngFor="let titulacion of titulaciones" class="pdf-container">
            <section *ngIf="titulacion.name == 'MANUAL DE TITULACIÓN'">
                <b class="font-semibold text-3xl">
                    MANUAL DE TITULACIÓN
                </b>
                <p class="mb-2">
                    Estimados estudiantes del Instituto Superior Tecnológico Superarse:
                </p>
                <p class="mb-2">
                    Es un honor presentarles el Manual de Titulación actualizado, un documento esencial
                    que guiará su proceso de culminación académica. Este manual ha sido elaborado con
                    el objetivo de proporcionar una orientación clara y precisa sobre los mecanismos y
                    procedimientos necesarios para alcanzar su titulación, ya sea mediante el desarrollo
                    de un trabajo de investigación o la aprobación de un examen complexivo.
                </p>
                <p class="mb-2">
                    La titulación representa la culminación de su formación académica y profesional, y es
                    un reflejo del esfuerzo, dedicación y compromiso que han demostrado a lo largo de
                    su carrera. Este manual detalla los requisitos, responsabilidades y pasos a seguir para
                    asegurar que cada uno de ustedes pueda completar este proceso con éxito y
                    excelencia.
                </p>
                <p class="mb-2">
                    En el Instituto Superior Tecnológico Superarse, estamos comprometidos con la
                    calidad educativa y el desarrollo integral de nuestros estudiantes. Por ello, hemos
                    diseñado este manual para que sea una herramienta útil y accesible, que les permita
                    navegar por el proceso de titulación con confianza y seguridad.
                </p>
                <p class="mb-2">
                    Les instamos a leer detenidamente este documento y a seguir las indicaciones aquí
                    presentadas. Estamos seguros de que, con su esfuerzo y el apoyo de nuestra
                    institución, lograrán alcanzar sus metas académicas y profesionales.
                </p>

                <div class="m-5 text-center">
                    <!-- <ngx-extended-pdf-viewer [src]="'../../../assets/modules/modelos/DOMINIOS ACADÉMICOS Y LÍNEAS DE INVESTIGACIÓN.pdf'" [showSidebar]="false"></ngx-extended-pdf-viewer> -->
                    <!-- <app-pdf-book [pdfSrc]="'../../../assets/modules/modelos/DOMINIOS ACADÉMICOS Y LÍNEAS DE INVESTIGACIÓN.pdf'"></app-pdf-book> -->
                    <a href="../../../assets/modules/modelos/DOMINIOS ACADÉMICOS Y LÍNEAS DE INVESTIGACIÓN.pdf" download
                        class="px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:text-[#FBBF2D] hover:bg-white focus:outline-none focus:ring-2 focus:ring-opacity-75">
                        Conocer más
                    </a>
                </div>

                <div [id]="'content-' + titulacion.id" class="pdf-content">
                    <!-- <iframe [src]="titulacion.src | safeUrl" style="width: 100%; height: 80vh; border: none;"></iframe> -->
                    <app-pdf-viewer [src]="titulacion.src"></app-pdf-viewer>
                </div>
            </section>
            <section *ngIf="titulacion.name == 'CALENDARIO DE TITULACIÓN'" class="mt-4">
                <b class="font-semibold text-3xl">
                    CALENDARIO DE TITULACIÓN
                </b>
                <div [id]="'content-' + titulacion.id" class="pdf-content">
                    <!-- <app-pdf-viewer [src]="titulacion.src | safeUrl"></app-pdf-viewer> -->
                    <iframe [src]="titulacion.src | safeUrl" style="width: 100%; height: 80vh; border: none;"></iframe>
                </div>
            </section>
        </div>

    </div>

</div>
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
