<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
    Mensaje de la Dirección de Vinculación con la Sociedad
</h2>

<div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <p class="mb-2">
        La Dirección de Vinculación con la Sociedad del Instituto Superior Tecnológico Superarse reafirma su compromiso
        de fortalecer las relaciones interinstitucionales, fomentar prácticas preprofesionales enriquecedoras y
        desarrollar proyectos de vinculación con la sociedad que generen un impacto positivo y sostenible en nuestro
        entorno.
    </p>
    <p class="mb-2">
        Nuestro propósito es conectar el aprendizaje académico con las demandas del sector productivo y social,
        brindando a nuestras estudiantes experiencias significativas para aplicar sus conocimientos en escenarios
        reales. Esto es posible gracias a alianzas estratégicas con instituciones públicas y privadas, que promueven su
        desarrollo profesional y fortalecen su sentido de responsabilidad social.
    </p>
    <p class="mb-2 font-bold text-center">
        ¡Construyamos juntos vínculos sólidos y experiencias que transformen vidas y comunidades!
    </p>
    <div class="gap-8 text-justify mb-5">
        <div class="flex justify-center">
            <img src="/assets/modules/vinculación/vinculacion.png" style="width:80%;">
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
