<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
        TRABAJA EN EL ISTS
    </h2>

    <div class="flex flex-row gap-8 justify-center" style="margin-left: 15%; margin-right: 15%;">
        <div class="w-4/6 flex flex-col gap-4 text-justify">
            <p>
                Para su postulación, tenga en cuenta los siguientes pasos:
            </p>
            <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
                <li>
                    <p>
                        1. La postulación se realizará descargando y completando la información solicitada en el FORMATO
                        DE
                        HOJA DE VIDA.
                    </p>
                    <div class="mt-2 mb-6 text-center">
                        <a href="../../../../../assets/modules/talento-humano/trabaja-con-nosotros/Formato hoja de vida.docx"
                            class="px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:text-[#FBBF2D] hover:bg-white focus:outline-none focus:ring-2 focus:ring-opacity-75">
                            DESCARGAR HOJA DE VIDA
                        </a>
                    </div>
                </li>
                <li>
                    2. Enviar la hoja de vida en el formato de la Institución y los documentos de respaldo a
                    <b>rrhh&#64;superarse.edu.ec</b>
                </li>
            </ul>
        </div>
        <div class="w-2/6 flex flex-col gap-4 text-justify">
            <img src="../../../../../assets/modules/talento-humano/trabaja-con-nosotros/trabaja con nosotros - pag2.png"
                style="width:100%;">
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
