<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">
    Acompañamiento Psicopedagógico
</h2>

<div class="flex flex-row gap-8 justify-center" style="margin-left: 15%; margin-right: 15%;">
    <div class="w-1/3 flex flex-col gap-4 text-justify">
        <img src="/assets/modules/bienestar-institucional/acompañamiento.png" class="mx-auto" />
    </div>
    <div class="w-2/3 flex flex-col gap-4 text-justify">
        <p class="mb-1">
            Para lograr la inclusión en la educación se necesita de un proceso de acompañamiento psicopedagógico para
            estudiantes con Necesidades Especiales Educativa (NEE) realizado por la Coordinación de Bienestar
            Institucional. Para ello se sigue el siguiente proceso:
        </p>
        <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
            <li>
                <label>Entrevista inicial</label>
            </li>
            <li>
                <label>Segunda entrevista</label>
            </li>
            <li>
                <label>Recomendaciones de ajustes razonables o adaptaciones curriculares</label>
            </li>
            <li>
                <label>Acompañamiento durante el periodo académico</label>
            </li>
            <li>
                <label>Entrevista final para evaluar el impacto del seguimiento</label>
            </li>
        </ul>
        <p class="mb-1">
            Este servicio de Bienestar Institucional, se encuentra pensado para:
        </p>
        <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
            <li>
                <label>Personas con discapacidad.</label>
            </li>
            <li>
                <label>Estudiantes con dificultades psicológicas o motrices.</label>
            </li>
            <li>
                <label>Estudiantes con dificultades de aprendizaje.</label>
            </li>
            <li>
                <label>Estudiantes que en su educación secundaria hayan recibido adaptaciones curriculares o terapias
                    psicopedagógicas.</label>
            </li>
        </ul>
        <p class="mb-1">
            La modalidad de las sesiones de acompañamiento pueden ser virtuales o presenciales, dependiendo la realidad
            socioeconómica del estudiante.
        </p>
                        <p class="mb-1 mt-4 text-center">
            <label class="mb-1 font-semibold">
                ¡No dudes en contactarnos!
            </label>
            <br>
            <label class="mb-1">
                <span class="font-semibold">Correos electrónicos:</span>
                asistencia.bienestar&#64;superarse.edu.ec; becas&#64;superarse.edu.ec;
                coordinacion.bienestar&#64;superarse.edu.ec.
            </label>
            <br>
            <label class="mb-1">
                <span class="font-semibold">Teléfono:</span>
                02-3 930 980 ext. 111
            </label>
            <label class="mb-1">
                <span class="font-semibold">WhatsApp:</span>
                099 840 9293
            </label>
        </p>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
