<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Simposio de Administración
    </h2>
    <!-- <div class="flex flex-col gap-2 mb-4 text-justify">
        <img src="../../../../assets/modules/investigación/eventos/portada2.png" style="width:100%;">
    </div> -->
    <div class="flex flex-col gap-4 text-justify">
        <b class="font-semibold text-4xl mb-4 mt-4 text-black">Presentación</b>
        <p>
            El Simposio de Potenciación Empresarial, realizado el 23 de septiembre de 2023 en el ISTS, fue un encuentro
            para jóvenes que enfrentan desafíos en su vida profesional, especialmente al emprender. El evento destacó la
            importancia del autoconocimiento, las estrategias y las herramientas necesarias para transformar ideas en
            negocios exitosos y sostenibles. Reunió a expertos y apasionados del emprendimiento y el coaching para
            intercambiar conocimientos y abordar los retos y oportunidades en administración y marketing para jóvenes
            emprendedores.
        </p>
        <b class="font-semibold text-4xl mb-4 mt-4 text-black">Objetivo</b>
        <p>
            Promover estrategias para impulsar a los participantes del simposio de potenciación empresarial 2023 que
            permitan aprender y aplicar habilidades avanzadas que impulsen el crecimiento, innovación y el éxito
            sostenible en el ámbito profesional y empresarial.
        </p>
        <b class="font-semibold text-4xl mb-4 mt-4 text-black">Estrategias y Técnicas didácticas</b>
        <p>
            Para el desarrollo del Simposio de Potenciación Empresarial 2023 se pretende aplicar un conjunto de acciones
            deliberadas organizacionales para coordinar (dirigir) el sistema enseñanza aprendizaje. Dicha estrategia es
            la magistral, como se detalla a continuación:
        </p>
        <table class="table-auto border-separate border-spacing-3" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        Estrategia
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Descripción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Magistral
                    </td>
                    <td>
                        Ponencia (conferencia)
                    </td>
                    <td>
                        Consiste en el uso de la expresión verbal para transmitir información específica de un tema
                        concreto. Siendo una exposición sistemática en el cual la exposición oral de un tema de manera
                        ordenada por parte del expositor, a un grupo relativamente amplio de participantes. La
                        estructura interna de los contenidos se organiza en función de los propósitos de la misma y del
                        tipo de auditorio al cual está dirigida. En todos los casos existe un plan que consta de
                        introducción, desarrollo y conclusiones; para finalmente pasar a preguntas realizadas por el
                        público participante.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
