<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
        Talento Humano
    </h2>

    <div class="flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Trabaja en el ISTS</b>
            <p>
                En la Coordinación de Talento Humano del Instituto Superior Tecnológico Superarse, buscamos
                profesionales
                apasionados por la educación, comprometidos con la excelencia académica e innovadores en su enseñanza.
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="trabaja-con-nosotros"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Postulación</b>
            <p>
                Concurso de Méritos y Oposición para Profesores Titulares
            </p>
            <p>
                Proceso de Selección para Profesores No Titulares
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="postulacion"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Mejores Evaluados</b>
            <p>
                El Tecnológico Superarse define cuidadosamente los perfiles profesionales de los profesores que forman parte de
                nuestra Institución. Con una sólida formación académica y una gran trayectoria, nuestros profesores son un
                referente en su campo. Estamos emocionados de contar con su experiencia y liderazgo en Nuestras Carreras.
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="mejores-evaluados"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngFor="let file of files" class="pdf-container mt-4" style="margin-left: 15%; margin-right: 15%;">
    <div class="gap-8">
        <div class="font-semibold text-xl cursor-pointer text-justify flex justify-between items-center"
            (click)="toggleExpansion(file.id)">
            <b class="text-justify">
                {{ file.name }}
            </b>
            <b class="ml-2  text-2xl"> &gt; </b>
        </div>

        <div *ngIf="expandedState[file.id]" [id]="'content-' + file.id" class="pdf-content mt-4">
            <iframe [src]="file.src | safeUrl" style="width: 100%; height: 80vh; border: none;"></iframe>
        </div>
    </div>
    <div class="border-t-4 border-gray-300 my-5"></div>
</div> -->
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
