<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">
        Escuela de Salud
    </h2>
    <section *ngIf="title == 'Salud' || title == 'TODOS'">
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-3xl" id="SALUD">Tecnólogo en Instrumentación Quirúrgica</b>
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img src="../../../assets/modules/escuela-salud/PORTADA.png" style="width: 100%;">
                </div>
                <div class="w-4/6 flex flex-col gap-4 items-center justify-center">
                    <p class="mb-2">
                        <b class="font-semibold text-1xl">Resolución: </b>RPC-SE-11-No.039-2024
                        <br>
                        <b class="font-semibold text-1xl">Duración: </b>2 Años
                        <br>
                        <b class="font-semibold text-1xl">Modalidad: </b>Presencial
                        <br>
                        <a (click)="scrollToMalla()"><b class="font-semibold text-1xl">Malla Curricular: </b>4
                            Niveles</a>
                        <br>
                        <label class="text-justify">
                            El Tecnólogo en Instrumentación Quirúrgica es un profesional altamente capacitado en el uso,
                            mantenimiento y
                            selección de instrumentos quirúrgicos. Además, está preparado para proporcionar asistencia
                            eficaz y
                            segura al
                            equipo médico en diversos entornos operatorios. Esta competencia se logra a través de una
                            educación
                            integral que
                            forma profesionales comprometidos y altamente cualificados, garantizando así una atención
                            óptima
                            y
                            segura en el
                            ámbito de la salud.
                        </label>
                    </p>
                    <div class="gap-8 text-justify text-xl" style="margin-left: 15%; margin-right: 15%;">
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+salud+para+ser+tecnólogo+en+Instrumentación+Quirúrgica.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Competencia Profesional</b>
            <p class="mb-2">
                La carrera de Instrumentación Quirúrgica es crucial en el ámbito de la salud, ya que los profesionales
                en
                esta
                área deben dominar conocimientos técnicos y científicos avanzados, habilidades de comunicación efectiva,
                y
                competencias en gestión y liderazgo. Estos especialistas son responsables de preparar y manejar los
                instrumentos
                quirúrgicos, asistir al equipo médico durante las operaciones, y garantizar la seguridad y precisión en
                el
                quirófano. Su formación rigurosa y su capacidad para trabajar bajo presión son esenciales para el éxito
                de
                las
                intervenciones quirúrgicas y la atención óptima a los pacientes.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Campo Ocupacional</b>
            <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
                <li>
                    Clínicas públicas y privadas
                </li>
                <li>
                    Casas de salud públicas
                </li>
                <li>
                    Hospitales del día
                </li>
                <li>
                    Casas comerciales de venta de productos e instrumentación quirúrgica, e insumos médicos
                </li>
                <li>
                    Asistencia a cirujanos de consulta privada
                </li>
            </ul>
        </div>
        <div class="gap-8 text-justify text-xl mb-5" #malla style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <app-pdf-viewer [showDownloadButton]="true" src="/assets/modules/escuelas-mallas-pdfs/Instrumentación Quirúrgica.pdf"></app-pdf-viewer>
            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-salud/MALLA.png" style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-salud/MALLA Tecnólogo en Instrumentación Quirúrgica.pdf"
                    download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>
</div>
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
