<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">
        Propuesta Pedagógica
    </h2>
    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <app-pdf-viewer src="/assets/modules/bienestar-institucional/propuesta-pedagogica/PROPUESTA_PEDAGÓGICA.pdf"></app-pdf-viewer>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
