<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Proyectos de Investigación PAO mayo - octubre 2025
    </h2>
    <div class="flex flex-col gap-4 text-justify">
        <p class="font-semibold text-3xl">Requisitos</p>
        <ol>
        <li>
            1. Descargar y llenar los formatos solicitados (Perfil de proyecto de investigación).
        </li>
        <li>
            2. Remitir los documentos dentro de los tiempos estipulados en el cronograma a los siguientes correos:
            <ul>
                <li style="margin-top: 15px;"><strong>Dirección de Investigación, Desarrollo e Innovación: </strong> <a href="mailto:santiago.paredes@superarse.edu.ec" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Santiago Paredes</a></li>
            </ul>
            <p style="margin-top: 15px;">Por favor, asegúrese de enviar los documentos del proyecto con copia a la coordinación de cada escuela a la que pertenezca:</p>
            <ul>
                <li style="margin-top: 15px;"><strong>Escuela de Veterinaria: </strong> Para contactar directamente al responsable del área, envíe un correo a: <a href="mailto:francisco.velastegui@superarse.edu.ec" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Francisco Velastegui</a></li>
                <li style="margin-top: 15px;"><strong>Escuela de Administración e Industria: </strong> Para contactar directamente al responsable del área, envíe un correo a:  <a href="mailto:mariajose.jimenez@superarse.edu.ec" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">María José Jiménez</a></li>
                <li style="margin-top: 15px;"><strong>Escuela de Construcción y Extracción sostenible: </strong> Para contactar directamente al responsable del área, envíe un correo a:  <a href="mailto:daniela.tamayo@superarse-edu.ec" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Daniela Tamayo</a></li>
                <li style="margin-top: 15px;"><strong>Escuela de Educación y Humanidades: </strong> Para contactar directamente al responsable del área, envíe un correo a:  <a href="mailto:mariajose.jumenez@superarse.edu.ec" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">María José Jiménez</a></li>
            </ul>
        </li>
    </ol>

    <p>
        La Dirección de Investigación, Desarrollo e Innovación remitirá por correo electrónico la resolución del comité, por lo que es obligación de los responsables de los proyectos, revisar su correo electrónico dentro de los plazos establecidos en el cronograma.
    </p>
    </div>
    <div style="margin-top: 15px;">
    <p class="font-semibold text-3xl">Formatos</p>
    <ul>
        <li><strong>Formato 1: </strong> <a href="/assets/modules/investigación/convocatorias/ISTS-GIDIVS-02-002 Perfil de proyecto de investigación_SP.docx" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Perfil de Proyecto de Investigación</a></li>
        <li><strong>Formato 2: </strong> <a href="/assets/modules/investigación/convocatorias/ISTS-GIDIVS-02-004 Plan de aprendizaje estudiantil_SP.docx" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Plan de aprendizaje estudiantil</a></li>
        <li><strong>Formato 3: </strong> <a href="/assets/modules/investigación/convocatorias/ISTS-GIDIVS-02-006 Carta de compromiso de estudiantes en investigación_SP.docx" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Carta de compromiso de estudiantes en investigación</a></li>
        <li><strong>Formato 4: </strong> <a href="/assets/modules/investigación/convocatorias/ISTS-GIDIVS-02-007 Acta de inicio de proyecto de investigación_SP.docx" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Acta de inicio de proyecto de investigación</a></li>
        <li><strong>Formato 5: </strong> <a href="/assets/modules/investigación/convocatorias/ISTS-GIDIVS-02-008 Seguimiento proyectos de investigación_SP.docx" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Seguimiento proyectos de investigación</a></li>
        <li><strong>Formato 6: </strong> <a href="/assets/modules/investigación/convocatorias/ISTS-GIDIVS-02-009 Proyecto final de investigación_SP.docx" style="text-decoration: underline;" class="hover:text-[#FBBF2D]">Proyecto final de investigación</a></li>
    </ul>
</div>
</div>

<vicarti-footer class="block" style="margin-top: 64px"></vicarti-footer>
<app-whatsapp></app-whatsapp>
