<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
        Vinculación
    </h2>

    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Mensaje</b>
            <p>
                La Dirección de Vinculación con la Sociedad del Instituto Superior Tecnológico Superarse reafirma su
                compromiso de fortalecer las relaciones interinstitucionales, fomentar prácticas preprofesionales
                enriquecedoras y ...
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="vinculacion-mensaje"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Modelo de IDI y VS</b>
            <p>
                Modelo de la Gestión de Investigación, Desarrollo e Innovación y Vinculación con la sociedad
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="modelo-idi-vs"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Equipo de Trabajo</b>
            <p>
                Información sobre los coordinadores de programas, prácticas y relaciones interinstitucionales.
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="equipo-trabajo"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Programas y Proyectos de Vinculación</b>
            <p>
                Modelos de gestión, reglamentos, formatos, programas y proyectos
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="programa-proyectos-vinculacion"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Practicas Pre-Profesionales</b>
            <p>
                Reglamentos y formatos
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="practicas-preprofesionales"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Relaciones Interinstitucionales</b>
            <p>
                Reglamentos, formatos e instrucciones con convenio
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="relaciones-interinstitucionales"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Presencia en la Comunidad</b>
            <p>
                El Instituto Superior Tecnológico Superarse promueve la integración de la comunidad poniendo a disposición de la comunidad los espacios institucionales.
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="presencia-comunidad"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
</div>
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
