<!-- <div class="w-full h-[65vh] relative flex flex-col items-center justify-center" (click)="action()">
    <div class="absolute">
        <img class="scale-50" src="../../../../assets/image.png" alt="logo">
        <p class="text-3xl font-semibold text-white p-2 text-center"> <span class="bg-[#8DBF31] inline-block p-2">#superaTusLímites</span></p>
    </div>
    <video autoplay src="../../../../assets/banners/Video-HeaderWeb-Superarse.mp4" class="w-full h-[65vh] object-cover object-top"></video>
</div> -->
<div class="w-full h-[35vh] md:h-[65vh] relative flex flex-col items-center justify-center before:absolute before:inset-0 before:bg-white before:opacity-50"
    (click)="action()">
    <div class="absolute flex flex-col items-center">
        <img src="/assets/banners/BANNER FOOTER-02.jpg" alt="footer">
        <!-- <img class="scale-50" src="../../../../assets/image.png" alt="logo">
        <p class="text-3xl font-semibold text-white p-2 text-center">
            <span class="bg-[#8DBF31] inline-block p-2">#superaTusLímites</span>
        </p> -->
    </div>
</div>
