<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
        Talleres Prácticos
    </h2>
    <div *ngFor="let school of schools" class="pdf-container">
        <div class="gap-8" style="margin-left: 15%; margin-right: 15%;">
            <!-- Título con evento de clic -->
            <div class="font-semibold text-3xl cursor-pointer text-justify flex justify-between items-center"
                (click)="toggleExpansion(school.id)">
                <b class="text-justify">
                    {{ school.name }}
                </b>
                <b class="ml-2  text-2xl"> &gt; </b>
            </div>

            <!-- Contenido del school -->
            <div *ngIf="expandedState[school.id]" [id]="'content-' + school.id" class="mt-4">
                <div *ngFor="let course of school.courses" class="pdf-container">
                    <div class="gap-8" style="margin-left: 2%;">
                        <!-- Título con evento de clic -->
                        <div class="font-semibold text-2xl cursor-pointer text-justify flex justify-between items-center"
                            (click)="toggleExpansionCourses(course.id)">
                            <b class="text-justify">
                                {{ course.name }}
                            </b>
                            <b class="ml-2  text-2xl"> &gt; </b>
                        </div>

                        <!-- Contenido del course -->
                        <div *ngIf="expandedStateCourses[course.id]" [id]="'content-' + course.id">
                            <div class="flex justify-center" *ngFor="let img of course.images">
                                <img [src]="img" width="80%">
                            </div>
                        </div>
                    </div>
                    <div class="border-t-4 border-gray-100 my-5" style="margin-left: 2%;"></div>
                </div>
            </div>
        </div>
        <div class="border-t-3 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
