<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">La Biblioteca
    “Dra. Mery Navas”</h2>

<div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <p class="mb-2">
        La biblioteca “Dra. Mery Navas”, como centro de recursos para la investigación y aprendizaje de la
        comunidad del Instituto Superior Tecnológico Superarse, permite a los usuarios acceder a servicios
        bibliotecarios, libros, artículos de investigación, etc. con recursos gratuitos de bibliotecas virtuales y
        física con el propósito de contribuir con él con aprendizaje autónomo, y brindar herramientas de facilidades de
        búsqueda de información.
    </p>
</div>

<div class="my-5 text-center">
    <a target="_blank"
        href="https://biblioteca.superarse.edu.ec"
        class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
        Ir a la Plataforma
    </a>
</div>

<div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

<div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <b class="font-semibold text-3xl">Video Tutorial</b>
    <div class="relative w-full">
        <video #draVideo autoplay controls loop playsinline loop class="w-full object-cover object-top">
            <source
                src="/assets/modules/biblioteca/Tutorial Sistema Biblioteca.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!-- <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <div class="gap-8 text-center text-xl">
        <img src="../../../assets/modules/biblioteca/Portada.JPG"
            style="width: 100%;">
    </div>
</div> -->

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
