<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Noviembre 2023 - Abril 2024
    </h2>
    <div class="flex flex-col gap-4 text-justify">
        <p class="font-semibold text-3xl">
            Análisis del Storytelling de 30¨ en Tik Tok para generar tendencias en la generación Z
        </p>
        <p>
            <b>Escuela:</b> Administración e Industria
        </p>
        <p>
            <b>Emergentes por:</b> Karina Fabara, Israel Proaño
        </p>
        <p>
            La generación Z es el grupo que hoy en día lidera los intereses de las marcas y tendencias en las
            plataformas digitales, es por esto que el objetivo de este estudio es identificar las características que
            debe tener la historia que se va a publicar para convertirse en tendencia y como conectar con la Generación
            Z, en un tiempo menos a 30 segundos con el apoyo de las funcionalidades de Tik Tok...
        </p>
        <div class="mb-4 mt-1 text-center">
            <a href="https://www.polodelconocimiento.com/ojs/index.php/es/article/view/6535" target="_blank"
                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                Leer el Artículo
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-4 mt-4 text-justify">
        <p class="font-semibold text-3xl">
            Creación de narrativas digitales sobre los peligros y amenazas en red usando herramientas de inteligencia artificial
        </p>
        <p>
            <b>Escuela:</b> Educación y Humanidades
        </p>
        <p>
            <b>Emergentes por:</b> Santiago Pucha
        </p>
        <p>
            En un entorno donde miles de nuevos usuarios se suman diariamente a internet, el Ciberbullyng, el sexting, el vamping, se presentan como amenazas que acechan en el mundo digital a estos nuevos integrantes de la red. La creación de narrativas digitales se vuelve esencial para educar a la sociedad sobre el uso concientizado de la tecnología...
        </p>
        <div class="mb-4 mt-1 text-center">
            <a href="https://revistas.ecotec.edu.ec/index.php/ecociencia/article/view/866" target="_blank"
                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                Leer el Artículo
            </a>
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
