<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">
    En Caso de Violencia Basada en Genero
</h2>

<div class="gap-4 justify-center" style="margin-left: 15%; margin-right: 15%;">
    <div class="gap-8 justify-center">
        <div class="gap-4 text-justify">
            <p>
                El presente formulario tiene como objetivo recopilar denuncias de los miembros de la comunidad educativa
                del Instituto Superior Tecnológico Superarse sobre cualquier tipo de violencia contemplada en el
                Protocolo de Prevención y Actuación ante casos de acoso, discriminación y violencia basada en género u
                orientación sexual, incluyendo manifestaciones físicas, psicológicas, sexuales, verbales, cibernéticas,
                simbólicas u otras formas establecidas en dicho protocolo. Desarrollado por la Coordinación de Bienestar
                Institucional, este instrumento busca identificar posibles situaciones de vulneración de derechos
                asociadas a prejuicios de género, identidad sexual, origen étnico-cultural, condición socioeconómica u
                otros factores discriminatorios, permitiendo activar los mecanismos de acompañamiento, investigación y
                sanción correspondientes para garantizar un entorno educativo libre de violencia. La información
                obtenida será tratada con confidencialidad y utilizada para implementar medidas preventivas y
                correctivas que fortalezcan la convivencia institucional.
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScKuypiP-LoLt4-QtKw4ycF37TJSXwY4YZZk_XN9rP519yYfw/viewform?usp=header"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Botón de Ayuda
                </a>
            </div>
        </div>
    </div>
</div>


<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
