
<!-- <vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">Valores</h2> -->
<!-- <div class="flex flex-row gap-8 mb-4 text-xl" style="margin-left: 15%; margin-right: 15%;"> -->
<div class="flex flex-row gap-8 mb-4 text-xl">
    <div class="flex flex-col gap-4 text-justify">
        <p>
            El Instituto Superior Tecnológico Superarse considera que los valores inherentes en la formación académica son:
        </p>
    </div>
</div>
<!-- <div class="flex flex-row gap-8 justify-center" style="margin-left: 16%; margin-right: 15%;"> -->
<div class="flex flex-row gap-8 justify-center">
    <div class="w-1/2 flex flex-col gap-4 text-justify">
        <ul class="list-disc">
            <li class="mb-5">
                <p>
                    <b><label class="text-3xl">P</label>roactividad: </b>En el Instituto Superior Tecnológico Superarse, valoramos la
                    capacidad de anticiparnos a las necesidades, problemas y oportunidades,
                    tomando la iniciativa para mejorar continuamente el aprendizaje, la
                    investigación y los procesos administrativos. Fomentamos la identificación
                    de oportunidades, la previsión y mitigación de obstáculos, la propuesta de
                    innovaciones y la asunción de responsabilidad, todo esto mediante una
                    comunicación efectiva que impulsa nuestro progreso institucional y el éxito
                    académico.
                </p>
            </li>
            <li class="mb-5">
                <p>
                    <b><label class="text-3xl">C</label>alidad: </b>En el Instituto Superior Tecnológico Superarse, nos
                    comprometemos a ofrecer una educación de alta calidad que cumple con
                    los más altos estándares académicos y profesionales. Fomentamos la
                    excelencia en todos los aspectos de nuestra labor, desde lo administrativo,
                    investigación hasta la vinculación con la sociedad. Nos esforzamos por
                    mejorar continuamente nuestros procesos y servicios, asegurando que
                    cada estudiante reciba una formación integral que lo prepare para
                    enfrentar los desafíos del mundo profesional con competencias sólidas.
                </p>
            </li>
            <li class="mb-5">
                <p>
                    <b><label class="text-3xl">S</label>ostenibilidad: </b>En el Instituto Superior Tecnológico Superarse, estamos
                    comprometidos con el desarrollo sostenible, integrando prácticas que
                    promuevan el equilibrio entre el crecimiento académico, la
                    responsabilidad social y la protección del medio ambiente. Nos
                    esforzamos por inculcar en nuestra comunidad educativa una conciencia
                    ecológica y un sentido de responsabilidad hacia las generaciones futuras.
                    A través de nuestras acciones y programas, fomentamos el uso eficiente de
                    los recursos, la innovación sostenible y el respeto por el entorno,
                    asegurando que nuestras actividades contribuyan positivamente al
                    bienestar del planeta y la sociedad.
                </p>
            </li>
        </ul>
    </div>
    <div class="w-1/2 flex flex-col gap-4 text-justify">
        <ul class="list-disc">
            <li class="mb-5">
                <p>
                    <b><label class="text-3xl">É</label>tica y <label class="text-3xl">C</label>ompromiso: </b>En el Instituto Superior Tecnológico Superarse, nos
                    guiamos por principios éticos sólidos y un profundo compromiso con la
                    excelencia educativa. Fomentamos la integridad, la honestidad y el respeto
                    en todas nuestras acciones, asegurando que cada decisión y esfuerzo
                    refleje nuestros valores fundamentales. Nuestro compromiso se manifiesta
                    en la dedicación al crecimiento académico, la responsabilidad social, y el
                    bienestar de nuestra comunidad educativa, promoviendo un ambiente de
                    confianza y colaboración que impulsa el desarrollo integral de toda la
                    comunidad Superarse.
                </p>
            </li>
            <li class="mb-5">
                <p>
                    <b><label class="text-3xl">E</label>quidad e <label class="text-3xl">I</label>nclusión: </b>En el Instituto Superior Tecnológico Superarse,
                    promovemos un entorno donde todos tienen igualdad de oportunidades
                    para aprender y desarrollarse, respetando y valorando la diversidad de
                    nuestra comunidad. Nos esforzamos por eliminar barreras y garantizar que
                    cada persona, independientemente de sus circunstancias se sienta
                    acogida y valorada. Fomentamos una cultura de respeto y justicia,
                    asegurando que nuestras políticas y prácticas reflejen un compromiso
                    genuino con la equidad y la inclusión en todas nuestras acciones y
                    decisiones.
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- <vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer> -->
