<!-- header shorcut -->
<nav class="w-full flex flex-row font-semibold bg-[#616160] text-base py-2 mx-auto">
    <section [ngClass]="screenWidth <= 835 ? 'w-full' : 'w-2/5'" class="ms-4 flex flex-row items-center gap-2">
        <i class="pi pi-phone text-white" style="font-size: 1rem"></i>
        @for (item of contactItems; track item; let idx = $index) {
            @if (idx <= 1) {
                <a class="text-white" [href]=" item.type == 'tel' ? 'tel:'+item.value : item.value">{{item.name}}</a>
            }
            @if (idx < 1) {
                <div class="w-0.5 h-[60%] border border-r border-white text-white"></div>
            }
        }
    </section>
    <section *ngIf="screenWidth > 835" class="w-3/5 flex flex-row items-center gap-2 justify-center">
        @for (item of contactItems; track item; let idx = $index) {
            @if(idx > 1){
                <a class="text-white" [href]=" item.type == 'tel' ? 'tel:'+item.value : item.value">{{item.name}}</a>
                @if (idx < contactItems.length - 1) {
                    <div class="w-0.5 h-[60%] border border-r border-white text-white"></div>
                }
            }
        }
    </section>
</nav>
