<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body" style="margin-left: 15%; margin-right: 15%">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Aseguramiento de la Calidad y Planificación
    </h2>
    <div class="gap-8 text-justify mb-5">
        <div class="flex flex-row gap-8 justify-center">
            <div class="w-1/2 flex flex-col gap-4 py-8 text-justify">
                <img
                    src="/assets/modules/aseguramiento-de-la-calidad/Aseguramiento-de-la-calidad_pages-to-jpg-0002.jpg"
                    style="width: 100%"
                />
            </div>
            <div class="w-1/2 flex flex-col gap-4 text-justify">
                <b class="font-semibold text-3xl mt-4"
                    >Modelo de Aseguramiento de la Calidad y Planificación</b
                >
                <p class="mb-5">
                    El Modelo de Aseguramiento de la Calidad y Planificación
                    Estratégica del Instituto Superior Tecnológico Superarse se
                    apoya en la gestión por procesos garantizando la mejora
                    continua en todas las áreas institucionales a través de los
                    ejes estratégicos. En el corazón del Modelo se encuentra el
                    PEDI (Plan Estratégico de Desarrollo Institucional), que
                    actúa como el eje integrador de todas las iniciativas de
                    desarrollo y mejora institucional.
                </p>
            </div>
        </div>

        <div class="flex flex-row gap-8 justify-center">
            <div class="w-1/2 flex flex-col gap-4 text-justify">
                <b class="font-semibold text-3xl mt-4">Gestión por procesos</b>
                <p class="mb-5">
                    La gestión institucional, el Instituto Superior Tecnológico
                    Superarse utiliza la gestión por procesos, para lo cual ha
                    determinado tres procesos institucionales: Procesos
                    Gobernantes, Procesos Sustantivos y Procesos Adjetivos,
                    concebido todo como un sistema integral que se
                    interrelaciona.
                </p>
                <p class="mb-5">
                    Procesos Gobernantes: Dentro de este se encuentran dos
                    subprocesos que son Gestión Estratégica y Gestión de la
                    Calidad; lo cuales, dirigen y supervisan el funcionamiento
                    institucional, asegurando alineación con objetivos
                    estratégicos y estándares de calidad.
                </p>
                <p class="mb-5">
                    Procesos Sustantivos: en este se encuentran dos subprocesos
                    que son la Gestión de Docencia y la Gestión de
                    Investigación, Desarrollo, Innovación y Vinculación con la
                    Sociedad; estos son la razón de ser de la institución,
                    enfocados en la enseñanza, investigación y conexión con la
                    comunidad, respondiendo a las necesidades del contexto y
                    promoviendo el desarrollo de la sociedad.
                </p>
                <p class="mb-5">
                    Procesos Adjetivos: En este se encuentran diez subprocesos
                    que proveen de apoyo logístico y operativo, facilitando el
                    funcionamiento eficiente de los procesos sustantivos y
                    gobernantes.
                </p>
            </div>
            <div class="w-1/2 flex flex-col gap-4 py-8 text-justify">
                <img
                    src="/assets/modules/aseguramiento-de-la-calidad/Aseguramiento-de-la-calidad_pages-to-jpg-0001.jpg"
                    style="width: 100%"
                />
            </div>
        </div>

        <div class="flex flex-row gap-8 justify-center">
            <div class="w-1/2 flex flex-col gap-4 py-8 text-justify">
                <video
                    #planVideo
                    autoplay
                    controls
                    loop
                    playsinline
                    loop
                    class="w-full object-cover object-top"
                >
                    <source
                        src="/assets/modules/aseguramiento-de-la-calidad/AUTOEVUACION_SUPERARSE_2024.mp4"
                        type="video/mp4"
                    />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="w-1/2 flex flex-col gap-4 text-justify">
                <b class="font-semibold text-3xl mt-4"
                    >Proceso de Autoevaluación</b
                >
                <p class="mb-2">
                    En el Instituto Superior Tecnológico Superarse, la búsqueda
                    de la excelencia es un compromiso constante; por lo tanto,
                    en cumplimiento del Artículo 94 de la Ley Orgánica de
                    Educación Superior (LOES), que establece que el Sistema
                    Interinstitucional de Aseguramiento de la Calidad se
                    sustenta principalmente en la autoevaluación, el instituto
                    desarrolla procesos de autoevaluación con la participación
                    activa de la comunidad educativa.
                </p>
                <p>
                    Conforme con el Modelo de Aseguramiento de la Calidad y
                    Planificación del Instituto Superior Tecnológico Superarse,
                    todos los procesos internos cumplen con el ciclo PHVA.
                </p>
            </div>
        </div>

        <b class="font-semibold text-3xl mt-3">Aval</b>
        <iframe
            src="/assets/modules/aseguramiento-de-la-calidad/AVAL20250221_09441421.pdf"
            width="100%"
            height="800px"
            style="border: none"
        >
        </iframe>
    </div>
</div>
<vicarti-footer class="block" style="margin-top: 64px"></vicarti-footer>
<app-whatsapp></app-whatsapp>
