<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Red de Investigación de Instituciones de Educación Superior Técnicas y Tecnológicos (RIESTT)
    </h2>
    <div class="flex flex-col gap-4 text-justify">
        <p>
            Como parte del fortalecimiento de las funciones sustantivas de los Institutos Técnicos y Tecnológicos,
            nuestro Instituto Superior Tecnológico Superarse, representando por la Rectora de la Institución MSc.
            Verónica Tamayo, estuvo presente en la “Red de Investigación de Instituciones de Educación Superior Técnicas
            y Tecnológicos (RIESTT)”.
        </p>
        <p>
            Dicho evento se llevó a cabo en la ciudad de Guayaquil en el Tecnológico Universitario Argos, donde
            estuvieron representantes de 14 Institutos Tecnológicos de distintas regiones del país, quienes conforman la
            RIESTT.
        </p>
    </div>
    <div class="flex flex-row gap-2 justify-center mt-4 text-xl">
        <div class="w-1/2 flex flex-col gap-4 text-justify">
            <img src="../../../../assets/modules/investigación/redes cientificas/imagen1.png" style="width:100%;">
        </div>
        <div class="w-1/2 flex flex-col gap-4 text-justify">
            <img src="/assets/modules/investigación/redes cientificas/imagen2.png" style="width:100%;">
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
