<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Noviembre 2022 - Abril 2023
    </h2>
    <div class="flex flex-col gap-4 text-justify">
        <p class="font-semibold text-3xl">
            Silvopastoral Systems as a Strategy for Reconversion of Livestock Farming in Ecuadorian Amazon
        </p>
        <p>
            <b>Escuela:</b> Veterinaria
        </p>
        <p>
            <b>Emergentes por:</b> Fausto Zacarías
        </p>
        <p>
            Livestock products are an important agricultural commodity for global food security because they provide 17%
            of global kilocalorie consumption and 33% of global protein consumption [1]. Nevertheless, livestock
            contribute 14% of the total annual anthropogenic greenhouse (GHG) emissions [2]. Pasture for cattle grazing
            is the dominant agricultural land use in the tropics with almost 80% of forest area cleaned in the
            Neotropics converted to pasture [3]. Despite tropical forests constitute an ecological biome of global
            importance to carbon cycles, patters of climate and biodiversity [4] in developing countries are changing
            rapidly in response to a variety of drivers [5]. Therefore, globally, natural 139 forest and grasslands are
            declining due to human activities such as deforestation or urbanisation. For this reason, agriculture
            including land-use change, and deforestation, is a particular focus, because it was responsible for 23% of
            the total GHG emissions globally in 2017 [6].
        </p>
        <div class="mb-4 mt-1 text-center">
            <a href="https://www.researchgate.net/publication/369019038_Silvopastoral_Systems_as_a_Strategy_for_Reconversion_of_Livestock_Farming_in_Ecuadorian_Amazon" target="_blank"
                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                Leer el Artículo
            </a>
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
