<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">Protocolos
    </h2>
    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <b class="font-semibold text-3xl">PROTOCOLO DE ATENCIÓN PSICOPEDAGÓGICA PARA LOS ESTUDIANTES </b>
        <p class="mb-2">
            El bienestar académico y emocional de los estudiantes es un pilar fundamental para
            el éxito educativo en cualquier institución de educación superior. En este contexto, el
            Instituto Superior Tecnológico Superarse (ISTS) se compromete a garantizar que sus
            estudiantes reciban el apoyo necesario para desarrollar su máximo potencial, tanto
            en el ámbito académico como en su bienestar emocional y social. Reconociendo que
            el proceso de aprendizaje va más allá de la adquisición de conocimientos técnicos,
            también abarca el fortalecimiento de habilidades emocionales, sociales y de
            resiliencia. Por ello, el presente protocolo psicopedagógico establece un marco
            integral de apoyo para todos los estudiantes del ISTS.
        </p>
        <p class="mb-2">
            La diversidad estudiantil del ISTS, conformada por jóvenes de diferentes entornos
            socioeconómicos, culturales y educativos, representa tanto una riqueza como un
            desafío para la atención de sus necesidades individuales. Este protocolo ha sido
            diseñado para responder a dichas necesidades mediante acciones afirmativas que
            aseguren que todos los estudiantes, independientemente de sus características,
            tengan acceso a los recursos y apoyos necesarios para su éxito académico y personal.
        </p>
        <p class="mb-2">
            Basado en el modelo pedagógico del ISTS, la atención a las necesidades académicas
            se aborda mediante un enfoque integral que promueve el desarrollo de
            competencias a través del aprendizaje significativo, la teoría sociocultural y el
            constructivismo. El currículo es flexible y adaptativo, permitiendo que los estudiantes
            accedan a diversas experiencias de aprendizaje, como prácticas profesionales,
            proyectos de investigación y laboratorios equipados, para aplicar sus conocimientos
            en entornos laborales reales.
        </p>
        <p class="mb-2">
            En cuanto al bienestar emocional y social, el ISTS adopta un enfoque humanista que
            coloca al estudiante en el centro del proceso formativo, atendiendo sus necesidades
            cognitivas, sociales, emocionales y de autorrealización. El Departamento de Bienestar
            Institucional juega un papel clave, ofreciendo apoyo psicológico, becas y programas
            de desarrollo personal que contribuyen a un ambiente de aprendizaje inclusivo y
            acogedor.
        </p>
        <p class="mb-2">
            La intervención psicopedagógica se fundamenta en el aprendizaje colaborativo y la
            teoría de la zona de desarrollo próximo de Vygotsky, facilitando la internalización de
            conocimientos a través del apoyo y la interacción entre estudiantes y profesores. Este
            enfoque se complementa con el uso de metodologías activas y herramientas
            digitales, como la plataforma EVA, que favorecen un aprendizaje significativo y
            personalizado.
        </p>
        <p class="mb-2">
            El desarrollo de habilidades blandas y socioemocionales es otro aspecto esencial del
            modelo pedagógico. Habilidades como la comunicación efectiva, el trabajo en
            equipo, el liderazgo y la resolución de problemas se integran en el Programa de
            Estudio de la Asignatura (PEA) mediante metodologías activas, como el aprendizaje
            basado en problemas y proyectos colaborativos, para que los estudiantes apliquen
            estas competencias en contextos reales.
        </p>
        <p class="mb-2">
            Alineado con el plan estratégico institucional, este protocolo también busca
            contribuir a la permanencia de los estudiantes mediante un apoyo integral que abarca
            aspectos académicos, económicos y psicológicos, reduciendo así la deserción y la
            repetición. Se promoverá la inclusión y la igualdad de oportunidades a través de
            procesos académicos y administrativos que garanticen la permanencia y el éxito de
            los estudiantes, acompañándolos desde su admisión hasta la culminación de su
            carrera con apoyo psicopedagógico, tutorías personalizadas y orientación
            profesional.
        </p>
        <p class="mb-2">
            El protocolo sigue el ciclo PHVA (Planificar, Hacer, Verificar, Actuar), asegurando un
            proceso continuo de mejora y adaptación a las necesidades cambiantes de los
            estudiantes, permitiendo que la intervención sea flexible y responda a los desafíos del
            entorno educativo y las circunstancias individuales.
        </p>
        <p class="mb-2">
            Con la implementación de este protocolo, el Instituto Superior Tecnológico Superarse
            reafirma su compromiso con la calidad educativa y la equidad, proporcionando las
            condiciones necesarias para que todos los estudiantes alcancen su éxito personal y
            profesional en un entorno inclusivo, respetuoso y solidario. Así, el protocolo
            psicopedagógico se consolida como una herramienta clave para promover la
            igualdad de oportunidades, la equidad, la participación activa y la interculturalidad
            dentro del Instituto, contribuyendo al desarrollo integral de cada uno de sus
            estudiantes.
        </p>

        <div class="m-5 text-center">
            <a href="../../../assets/modules/protocolo/PROTOCOLO DE ATENCIÓN PSICOPEDAGÓGICA PARA LOS ESTUDIANTES.pdf"
                download
                class="px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:text-[#FBBF2D] hover:bg-white focus:outline-none focus:ring-2 focus:ring-opacity-75">
                Conocer más
            </a>
        </div>
    </div>

    <div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

    <div class="gap-8 text-justify my-8" style="margin-left: 15%; margin-right: 15%;">
        <b class="font-semibold text-3xl">PROTOCOLO DE INTEGRACIÓN DE ESTUDIANTES</b>
        <p class="mb-2">
            El Protocolo de Integración de Estudiantes del Instituto Superior Tecnológico
            Superarse está diseñado para facilitar el proceso de adaptación y desarrollo de los
            nuevos estudiantes dentro de la institución. Este documento establece una serie de
            acciones estratégicas que abarcan desde el ingreso hasta la plena integración
            académica, emocional y social de los estudiantes, asegurando que reciban el
            acompañamiento necesario para alcanzar el éxito en su formación profesional.
        </p>
        <p class="mb-2">
            El protocolo se fundamenta en un marco legal sólido, basado en las normativas
            nacionales de la educación superior, y responde a los principios de inclusión, equidad
            y acompañamiento integral. Además, está alineado con la misión, visión, modelo
            educativo y pedagógico, que buscan formar profesionales preparados para enfrentar
            los desafíos del mundo laboral y que contribuyen positivamente a la sociedad y al
            desarrollo sostenible. En este documento se detallan los objetivos específicos que
            guiarán el proceso de integración, el alcance del protocolo, y un plan de acción que
            incluye actividades de diagnóstico, recepción, nivelación académica, asignación de
            tutores y mentores, y estímulos positivos para estudiantes destacados. Asimismo, se
            destacan los ejes transversales que complementan este protocolo, tales como el
            desarrollo de habilidades blandas, competencias digitales y educación ambiental.
        </p>
        <p class="mb-2">
            El protocolo también incluye un apartado sobre los recursos y herramientas
            disponibles, tales como las plataformas virtuales y la guía del estudiante, que
            permiten a los estudiantes adaptarse a los entornos de aprendizaje digitales.
            Finalmente, se establece un sistema de evaluación y retroalimentación, basado en
            encuestas de satisfacción y revisiones periódicas, que garantiza la mejora continua del
            proceso de integración.
        </p>
        <p class="mb-2">
            Con este protocolo, el Instituto Superior Tecnológico Superarse reafirma su
            compromiso con la formación integral de sus estudiantes, promoviendo un ambiente
            de aprendizaje inclusivo, motivador y orientado al éxito académico y profesional.
        </p>
        <div class="m-5 text-center">
            <a href="../../../assets/modules/protocolo/PROTOCOLO DE INTEGRACIÓN DE ESTUDIANTES.pdf" download
                class="px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:text-[#FBBF2D] hover:bg-white focus:outline-none focus:ring-2 focus:ring-opacity-75">
                Conocer más
            </a>
        </div>
    </div>
    <div class="flex flex-row gap-8 justify-center" style="margin-left: 15%; margin-right: 15%;">
        <div class="w-1/2 flex flex-col gap-4 text-justify">
        </div>
        <div class="w-1/2 flex flex-col gap-4 text-justify">
        </div>
    </div>
</div>
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
