<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">Proceso de
        Admisión</h2>
    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <b class="font-semibold text-3xl">Descargar hoja de inscripción.</b>
        <p class="mb-2">
            Descarga la hoja de inscripción, llena con tus datos personales, firma el documento, escanea y envía en
            formato
            PDF, al correo matriculas&#64;superarse.edu.ec con el asunto HOJA DE INSCRIPCIÓN:
        </p>
        <div class="my-5 text-center">
            <a href="../../../assets/modules/admisiones/hoja de inscripción..pdf" download
                class="px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:text-[#FBBF2D] hover:bg-white focus:outline-none focus:ring-2 focus:ring-opacity-75">
                PDF ADJUNTO
            </a>
        </div>
    </div>

    <div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <b class="font-semibold text-3xl">Completar Proceso de Matrícula.</b>
        <p class="mb-2">
            Para completar con el proceso de matrícula, es importante enviar el comprobante de pago al correo
            matriculas&#64;superarse.edu.ec con el asunto PAGO DE MI MATRICULA, conoce más al descargar el instructivo:
        </p>
        <div class="my-5 text-center">
            <a href="../../../assets/modules/admisiones/Proceso de Matrícula..pdf" download
                class="px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:text-[#FBBF2D] hover:bg-white focus:outline-none focus:ring-2 focus:ring-opacity-75">
                PDF ADJUNTO
            </a>
        </div>
    </div>

    <div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <b class="font-semibold text-3xl">Requisitos.</b>
        <p class="mb-2">
            Entrega los siguientes requisitos de manera presencial en el Campus Matriz o envía a través de tu Courier de
            preferencia:
        </p>
        <ul class="list-outside list-disc mb-2" style="margin-left: 10%; margin-right: 10%;">
            <li>
                Título de Bachiller y Acta de grado notarizada.
            </li>
            <li>
                Copia a color de la cédula de ciudadanía actualizada.
            </li>
            <li>
                Copia a color del certificado de votación actualizada.
            </li>
            <li>
                Copia a color del servicio básico del domicilio.
            </li>
            <li>
                2 fotos tamaño carnet en traje formal tomadas en estudio fotográfico.
            </li>
            <li>
                Certificado del tipo de sangre o licencia de conducir.
            </li>
            <li>
                Hoja de Inscripción (Paso 1).
            </li>
        </ul>
    </div>

    <div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

    <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
        <b class="font-semibold text-3xl">Contacto.</b>
        <p class="mb-2">
            Si tienes inquietudes no dudes en comunicarte al:
        </p>
        <ul class="list-outside list-none mb-2" style="margin-left: 10%; margin-right: 10%;">
            <li>
                Departamento Área de Estudiantes
            </li>
            <li>
                0995901732 o al (02) 3930980 - Ext 100
            </li>
            <li>
                matriculas&#64;superarse.edu.ec
            </li>
        </ul>
    </div>

    <div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

    <div class="gap-8 text-center text-xl mb-5" style="margin-left: 15%; margin-right: 15%;">
        <p class="mb-2" style="margin-left: 15%; margin-right: 15%;">
            Si eres estudiante antiguo, recuerda que, para iniciar tu proceso de matrícula, debes enviar tu comprobante
            de
            pago matrícula en respuesta al correo donde recibiste tu CAPA.
            <br>
            (revisar el correo institucional)
        </p>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
