<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">Mensaje de
    Nuestra Rectora</h2>


<div id="body">
    <div class="flex flex-row gap-8 justify-center" style="margin-left: 15%; margin-right: 15%;">
        <div class="w-1/2 flex flex-col gap-4 text-justify">
            <img src="../../../assets/modules/autoridades/TAMAYO VERONICA.jpg" style="width:100%;">
        </div>
        <div class="w-1/2 flex flex-col gap-4 text-justify">
            <p>
                Querida comunidad SUPERARSE,
            </p>
            <p>
                Es un honor darles la más cordial bienvenida al Instituto Superior Tecnológico Superarse, un espacio
                donde el aprendizaje, la innovación y el compromiso con el conocimiento se combinan para forjar el
                futuro de nuestra sociedad. Desde nuestros inicios, hemos venido trabajado incansablemente para ofrecer
                una educación de calidad que prepare a nuestros estudiantes para enfrentar los desafíos del mundo
                actual. </p>
            <p>
                Reafirmamos nuestro compromiso con la excelencia en la docencia, la investigación y la vinculación con
                la sociedad, pilares fundamentales de nuestra misión. Somos un instituto técnico y tecnológico
                comprometido con el desarrollo integral de nuestros estudiantes, mediante una educación con énfasis en
                experiencias formativas prácticas y el fortalecimiento de habilidades blandas. Queremos formar
                profesionales líderes, emprendedores e innovadores, con sólidos principios y valores, preparados para
                contribuir al desarrollo sostenible de nuestra sociedad.
            </p>
            <p>
                Juntos, construiremos un entorno inclusivo y dinámico donde las ideas se cristalizan y se conviertan en
                acciones transformadoras. Con responsabilidad y creatividad, seguiremos superando los retos,
                consolidando a nuestro Instituto como un referente en la formación de profesionales técnicos y
                tecnológicos, tanto a nivel nacional como internacional. Con el aporte de todos, aspiramos a que para el
                año 2028, el Tecnológico Superarse sea una institución acreditada y reconocida por su infraestructura de
                vanguardia y procesos innovadores que contribuyan significativamente al desarrollo del país
                <br>
                Les doy nuevamente la bienvenida a esta gran comunidad, deseándoles un año lleno de aprendizajes, logros
                y satisfacciones.
            </p>
        </div>
    </div>

    <div class="flex flex-row gap-8 justify-center mt-4 text-xl" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify font-bold">
            <p class="text-center">
                Recuerda que siempre es tiempo de SUPERARSE.
            </p>
            <p class="text-center">
                Msc. Verónica Tamayo
                <br>
                Rectora del ISTS
            </p>
        </div>
        <!-- <div class="w-1/2 flex flex-col gap-4 text-justify">
        <img src="../../../assets/modules/autoridades/TAMAYO VERONICA.jpg" />
    </div> -->
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
