<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2
        class="font-semibold text-5xl py-8 mt-4 text-[#FBBF2D]"
        style="margin-left: 15%; margin-right: 15%"
    >
        Escuela de Educación y Humanidades
    </h2>
    <section *ngIf="title == 'Educacion-Basica' || title == 'TODOS'">
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-3xl" id="EDUCACION_BASICA"
                >Tecnólogo en Educación Básica</b
            >
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img
                        src="../../../assets/modules/escuela-educacion-humanidades/PORTADA1.png"
                        style="width: 100%"
                    />
                </div>
                <div
                    class="w-4/6 flex flex-col gap-4 items-center justify-center"
                >
                    <p class="mb-2">
                        <b class="font-semibold text-1xl">Resolución: </b
                        >RPC-SO-03-No.039-2023
                        <br />
                        <b class="font-semibold text-1xl">Duración: </b>2 Años
                        <br />
                        <b class="font-semibold text-1xl">Modalidad: </b>Híbrida
                        <br />
                        <a (click)="scrollToMalla()"
                            ><b class="font-semibold text-1xl"
                                >Malla Curricular: </b
                            >4 Niveles</a
                        >
                        <br />
                        <label class="text-justify">
                            El Tecnólogo en Educación General Básica es un
                            profesional íntegro, centrado en el ser humano, con
                            principios éticos y pensamiento crítico
                            constructivista, que contribuye al desarrollo y
                            bienestar de la población. Estos profesionales son
                            capaces de diseñar, aplicar e innovar el currículo
                            de Educación Básica en el ámbito profesional e
                            investigativo, integrando temas de
                            interculturalidad, inclusión e igualdad de
                            oportunidades en diversas áreas y campos del saber.
                            Además, tienen la capacidad de formar equipos
                            técnicos de profesionales con habilidades para
                            manejar estrategias y herramientas innovadoras en el
                            ámbito educativo.
                        </label>
                    </p>
                    <div
                        class="gap-8 text-justify text-xl"
                        style="margin-left: 15%; margin-right: 15%"
                    >
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a
                                target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+educación+y+humanidades+para+ser+tecnólogo+en+Educación+Básica.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#FBBF2D] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
                            >
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <p class="mb-2">
                Analiza los fundamentos metodológicos de la investigación
                científica y las peculiaridades de su aplicación en el ámbito
                educativo, identificando diferentes fuentes de la investigación
                a partir de las cuales se desarrollará el proceso investigativo.
            </p>
            <p class="mb-2">
                Determina el nivel de aprendizaje de los estudiantes en un
                proceso educativo específico, utilizando estrategias y
                herramientas sistemáticas y secuenciales, que le permitan
                demostrar su grado de comprensión, profundidad y la habilidad
                para en el aula.
            </p>
            <p class="mb-2">
                Centrado en el desarrollo humano, social y comunitario, desde
                una perspectiva ética, crítica e interdisciplinaria, con
                aptitudes hacia la investigación y la comprensión de los
                procesos cognoscitivos, afectivos y de comportamiento humano;
                los aprendizajes y competencias adquiridas con el sustento
                científico y profesional de la carrera, le permitirán intervenir
                con solvencia ética y profesional en diversos procesos
                educativos en diferentes entornos de aprendizaje en el campo de
                la educación básica.
            </p>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Campo Ocupacional</b>
            <p class="mb-2">
                El Tecnólogo en Educación Básica estará capacitado para
                desarrollar en sus estudiantes, los mismos planteamientos de la
                UNESCO, a partir de su constitución, tales como: el principio de
                la no discriminación, la igualdad de oportunidades y de trato,
                el acceso universal a la educación y el principio de
                solidaridad; también estará preparado para asumir los cuatro
                pilares de la educación: aprender a conocer, aprender a hacer,
                aprender a vivir juntos, aprender a ser y aprender a
                transformarse, en total correspondencia con el precepto de que
                la educación es un derecho para todos, a lo largo de toda la
                vida y, que el acceso a la educación debe ir acompañado de la
                calidad.
            </p>
        </div>
        <div
            class="gap-8 text-justify mb-5"
            #malla
            style="margin-left: 15%; margin-right: 15%"
        >
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <div
                class="gap-8 text-justify mb-5"
                style="margin-left: 15%; margin-right: 15%"
            >
                <iframe
                    src="/assets/modules/escuelas-mallas-pdfs/Educación Básica.pdf"
                    width="100%"
                    height="800px"
                    style="border: none"
                >
                </iframe>
                <div style="text-align: center; margin-top: 10px">
                    <a
                        href="/assets/modules/escuelas-mallas-pdfs/Educación Básica.pdf"
                        download
                        class="text-blue-600 underline"
                        >Descargar Educación Básica PDF</a
                    >
                </div>
            </div>

            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-educacion-humanidades/MALLA.png" style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-educacion-humanidades/MALLA Tecnólogo en Educación Básica.pdf"
                    download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#FBBF2D] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>
</div>
<vicarti-footer class="block" style="margin-top: 64px"></vicarti-footer>
<app-whatsapp></app-whatsapp>
