<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">
        Escuela de Administración e Industria
    </h2>
    <section *ngIf="title == 'Administracion' || title == 'TODOS'">
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-3xl" id="ADMINISTRACION">Técnico Superior en Administración</b>
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img src="../../../assets/modules/escuela-administracion-industria/PORTADA ADMINSTRACION.png"
                        style="width: 100%;">
                </div>
                <div class="w-4/6 flex flex-col gap-4 items-center justify-center">
                    <p class="mb-2">
                        <b class="font-semibold text-1xl">Resolución: </b>RPC-SO-31-No.541-2019
                        <br>
                        <b class="font-semibold text-1xl">Duración: </b>1 Año
                        <br>
                        <b class="font-semibold text-1xl">Modalidad: </b>Línea
                        <br>
                        <a (click)="scrollToMalla('mallaAdmin')"><b class="font-semibold text-1xl">Malla Curricular:
                            </b>2
                            Niveles</a>
                        <br>
                        <label class="text-justify">
                            Formar profesionales en Administración que desarrollen competencias y habilidades en el
                            ámbito
                            de la
                            contabilidad con conocimientos técnicos en la contabilidad computarizada a través de los
                            sistemas
                            tecnológicos; en la legislación laboral y tributaria para asegurar el cumplimiento de todas
                            las
                            normas legales de la empresa donde labore; en la gestión del talento humano para asegurar el
                            correcto control del personal y el justo pago de salarios y beneficios; en la gestión de la
                            calidad,
                            logística y costos para mejorar la productividad de la empresa donde se desempeña; y en la
                            administración de empresas de tamaño pequeño y micro para garantizar que dichas empresas
                            cumplan
                            su
                            planificación, sus objetivos y metas.
                        </label>
                    </p>
                    <div class="gap-8 text-justify text-xl" style="margin-left: 15%; margin-right: 15%;">
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+administración+e+industria+para+ser+Técnico+Superior+en+Administración.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <p class="mb-2">
                Un profesional con conocimientos técnicos en contabilidad computarizada, legislación laboral y
                tributaria,
                gestión del talento humano, de la calidad y de la logística, conocimientos sobre análisis de costos y
                desarrollo
                de propuestas económicas y cotizaciones y planificación administrativa a través del análisis del mercado
                y
                el
                establecimiento de metas y objetivos. El Técnico puede desempeñarse profesionalmente como responsable de
                las
                áreas de administración o contabilidad de empresas de tamaño pequeño o micro empresas, cajero, asistente
                administrativo, auxiliar contable y secretario/a en las áreas administrativas de empresas de los
                sectores de
                manufactura, comercio, construcción y transporte.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Competencias y habilidades</b>
            <p class="mb-2">
                Desempeñarse como asistente o auxiliar en las áreas de administración de todo tipo de empresas de tamaño
                micro,
                pequeño o mediano en las tareas de contabilidad, talento humano, tributación, gestión de calidad,
                gestión de
                costos, logística y planificación empresarial, con ética profesional y responsabilidad en todas las
                labores
                encomendadas.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Campo Ocupacional</b>
            <p class="mb-2">
                El Técnico(a) en Administración podrá administrar la oficina de profesionales, como es el caso de
                médicos,
                dentistas, abogados, arquitectos, ingenieros y en general oficinas de profesionales que requieren de un
                profesional con conocimientos en áreas de contabilidad, contratación de personal, tributación, y demás
                requerimientos administrativos.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" #mallaAdmin id="mallaAdmin" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <app-pdf-viewer [showDownloadButton]="true"
                src="/assets/modules/escuelas-mallas-pdfs/Administración.pdf"></app-pdf-viewer>
            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-administracion-industria/MALLA ADMINISTRACION.png"
                    style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-administracion-industria/MALLA Técnico Superior en Administración.pdf"
                    download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>

    <div *ngIf="title == 'TODOS'" class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;">
    </div>

    <section *ngIf="title == 'Marketing' || title == 'TODOS'">
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-3xl" id="MARKETING">Técnico Superior en Marketing Digital</b>
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img src="../../../assets/modules/escuela-administracion-industria/PORTADA MARKETING.png"
                        style="width: 100%;">
                </div>
                <div class="w-4/6 flex flex-col gap-4 items-center justify-center">
                    <p class="mb-2">
                        <b class="font-semibold text-1xl">Resolución: </b>RPC-SO-26-No.429-2024
                        <br>
                        <b class="font-semibold text-1xl">Duración: </b>1 Año
                        <br>
                        <b class="font-semibold text-1xl">Modalidad: </b>Línea
                        <br>
                        <a (click)="scrollToMalla('mallaMarketing')"><b class="font-semibold text-1xl">Malla Curricular:
                            </b>2
                            Niveles</a>
                        <br>
                        <label class="text-justify">
                            Formar profesionales en Marketing Digital que desarrollen competencias y habilidades en el
                            ámbito de
                            la comunicación y publicidad.
                        </label>
                    </p>
                    <div class="gap-8 text-justify text-xl" style="margin-left: 15%; margin-right: 15%;">
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+administración+e+industria+para+ser+Técnico+Superior+en+Marketing+Digital.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <p class="mb-2">
                Un profesional con conocimientos técnicos en Marketing Digital podrá diseñar, ejecutar y evaluar
                campañas
                publicitarias utilizando todas las redes sociales mediante planes de marketing digital enfocado a
                contenidos
                comunicacionales para todo público.
            </p>
            <p class="mb-2">
                El Técnico puede desempeñarse profesionalmente como responsable de las áreas de marketing, comunicación
                y
                publicidad en redes.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Competencias y habilidades</b>
            <p class="mb-2">
                Responsable de marketing de contenidos, diseñando, ejecutando y evaluando campañas publicitarias planes
                de
                marketing digital y comercio electrónico utilizando redes sociales. Además, crea contenido digital
                publicitario
                aplicando herramientas de marketing digital para la realización de contenidos comunicacionales,
                elaborando
                presupuestos para la implementación de planes de marketing incluyendo pautaje publicitario en redes
                sociales
                y a
                través de actores del marketing digital como influencers para cumplir con los objetivos de marketing de
                la
                empresa.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Campo Ocupacional</b>
            <p class="mb-2">
                El Técnico(a) en Marketing Digital podrá desarrollar, al 100%, estrategias diversas en el desarrollo de
                campañas
                de publicidad, investigación de mercados, análisis y ventas. Además, tendrá la capacidad de ser Planner
                en
                medios Digitales Agencias de publicidad y Agencias de relaciones pública.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" #mallaMarketing id="mallaMarketing"
            style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <app-pdf-viewer [showDownloadButton]="true"
                src="/assets/modules/escuelas-mallas-pdfs/Marketing Digital.pdf"></app-pdf-viewer>
            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-administracion-industria/MALLA MARKETING.png"
                    style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-administracion-industria/MALLA Técnico Superior en Marketing Digital.pdf"
                    download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>

    <div *ngIf="title == 'TODOS'" class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;">
    </div>

    <section *ngIf="title == 'SeguridadHigieneTrabajo' || title == 'TODOS'">
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-3xl" id="SeguridadHigieneTrabajo">Seguridad e Higiene del Trabajo</b>
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img src="/assets/modules/escuela-administracion-industria/PORTADA SEGURIDAD E HIGIENE DEL TRABAJO.png"
                        style="width: 100%;">
                </div>
                <div class="w-4/6 flex flex-col gap-4 items-center justify-center">
                    <p class="mb-2">
                        <!-- COMENTADO POR QUE NO DIERON -->
                        <!-- <b class="font-semibold text-1xl">Resolución: </b>RPC-SO-26-No.429-2024
                        <br> -->
                        <b class="font-semibold text-1xl">Duración: </b>1 Año
                        <br>
                        <b class="font-semibold text-1xl">Modalidad: </b>Línea
                        <br>
                        <a (click)="scrollToMalla('mallaSeguridadHigieneTrabajo')"><b
                                class="font-semibold text-1xl">Malla Curricular:
                            </b>2
                            Niveles</a>
                        <br>
                        <label class="text-justify">
                            Formar tecnólogos en Seguridad e Higiene del Trabajo con competencias técnicas y éticas para
                            identificar y gestionar riesgos laborales, promoviendo prácticas preventivas y correctivas
                            que garanticen la seguridad de los trabajadores en diversos sectores productivos; donde
                            están capacitados para implementar sistemas de higiene laboral que minimicen los riesgos
                            asociados a las condiciones de trabajo, contribuyendo a la mejora de la calidad de vida de
                            los trabajadores, el respeto a la diversidad, la igualdad de oportunidades y los derechos
                            humanos, impulsando una cultura de prevención y mejora continua en los entornos laborales.
                        </label>
                    </p>
                    <div class="gap-8 text-justify text-xl" style="margin-left: 15%; margin-right: 15%;">
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+administración+e+industria+para+ser+Técnico+Superior+en+Seguridad+e+Higiene+del+Trabajo.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
                <li>
                    Identificar los riesgos laborales en diferentes entornos de trabajo.
                </li>
                <li>
                    Colaborar en la elaboración de planes de emergencia y conformación brigadas.
                </li>
                <li>
                    Aplicar la normativa vigente en seguridad e higiene del trabajo, así como la legislación aplicable
                    en el
                    ámbito laboral.
                </li>
                <li>
                    Reconocer las necesidades de salud ocupacional en distintos sectores laborales.
                </li>
                <li>
                    Colaborar en la implementación de acciones de primeros auxilios en situaciones de emergencia
                    laboral.
                </li>
                <li>
                    Aplicar técnicas y medidas de prevención de riesgos en el entorno laboral para minimizar accidentes
                    y
                    enfermedades profesionales.
                </li>
            </ul>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Competencias y habilidades</b>
            <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
                <li>
                    Aplicar protocolos establecidos para el manejo seguro de productos peligrosos.
                </li>
                <li>
                    Colaborar en el desarrollo de procedimientos para la prevención de riesgos en trabajos de alto
                    riesgo.
                </li>
                <li>
                    Aplicar metodologías y modelos para la identificación y análisis de riesgos en el lugar de trabajo.
                </li>
                <li>
                    Colaborar en la implementación y ejecución de protocolos de emergencia y planes de evacuación.
                </li>
            </ul>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Mercado Laboral</b>
            <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
                <li>
                    Todo tipo de empresa Jurídicas ya sean públicas, privadas o mixtas
                </li>
                <li>
                    Emprendimientos (negocios) registrados legalmente en el Servicio de Rentas Internas.
                </li>
            </ul>
        </div>
        <div class="gap-8 text-justify mb-5" #mallaSeguridadHigieneTrabajo id="mallaSeguridadHigieneTrabajo"
            style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <app-pdf-viewer [showDownloadButton]="true"
                src="/assets/modules/escuelas-mallas-pdfs/Seguridad e Higiene .pdf"></app-pdf-viewer>
        </div>
    </section>

    <div *ngIf="title == 'TODOS'" class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;">
    </div>

    <section *ngIf="title == 'SeguridadPrevencionRiesgosLaborales' || title == 'TODOS'">
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-3xl" id="SeguridadPrevencionRiesgosLaborales">Seguridad y Prevención de Riesgos
                Laborales</b>
            <div class="flex flex-row gap-8 justify-center">
                <div class="w-2/6 flex flex-col gap-4 text-justify">
                    <img src="/assets/modules/escuela-administracion-industria/PORTADA SEGURIDAD Y PREVENCIÓN DE RIESGOS LABORALES.png"
                        style="width: 100%;">
                </div>
                <div class="w-4/6 flex flex-col gap-4 items-center justify-center">
                    <p class="mb-2">
                        <!-- SE COMENTA POR QUE NO NOS DIERON INFO -->
                        <!-- <b class="font-semibold text-1xl">Resolución: </b>RPC-SO-26-No.429-2024
                        <br> -->
                        <b class="font-semibold text-1xl">Duración: </b>1 Año
                        <br>
                        <b class="font-semibold text-1xl">Modalidad: </b>Línea
                        <br>
                        <a (click)="scrollToMalla('mallaSeguridadPrevencionRiesgosLaborales')"><b
                                class="font-semibold text-1xl">Malla Curricular:
                            </b>2
                            Niveles</a>
                        <br>
                        <label class="text-justify">
                            Formar profesionales Técnicos en Seguridad y Prevención de Riesgos Laborales con
                            competencias que les permitan colaborar en la identificación, evaluación y prevención de
                            riesgos en el entorno laboral, promoviendo un ambiente de trabajo seguro y saludable. Así
                            como también, contribuir al bienestar social, la protección del medio ambiente y el
                            desarrollo sostenible, en un marco de respeto a la diversidad, igualdad y derechos humanos,
                            asegurando la mejora continua de las condiciones laborales y la calidad de vida de los
                            trabajadores.
                        </label>
                    </p>
                    <div class="gap-8 text-justify text-xl" style="margin-left: 15%; margin-right: 15%;">
                        <div class="text-center font-semibold">
                            ¿Quieres comunicarte con un asesor?
                        </div>
                        <div class="mt-5 text-center">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=593995901732&text=Saludos%2C+deseo+mas+informaci%C3%B3n+sobre+la+oferta+acad%C3%A9mica+de+la+escuela+de+administración+e+industria+para+ser+Técnico+Superior+en+Marketing+Digital.+Gracias%21"
                                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                                Haz clic aquí
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Perfil de Egreso</b>
            <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
                <li>
                    Aplica normativas de salud, seguridad y prevención de riesgos laborales en distintos entornos de
                    trabajo.
                </li>
                <li>
                    Colabora en la identificación, evaluación y reporte de riesgos laborales de manera efectiva.
                </li>
                <li>
                    Participa en programas que promuevan la seguridad y el bienestar de los trabajadores.
                </li>
                <li>
                    Emplea metodologías y modelos para la identificación, análisis y evaluación de riesgos laborales.
                </li>
                <li>
                    Apoya a equipos multidisciplinarios en la implementación de estrategias de seguridad y prevención
                    ocupacional.
                </li>
                <li>
                    Promueve la creación de una cultura de prevención y seguridad dentro de las organizaciones y
                    comunidades.
                </li>
                <li>
                    Aplica procesos de mejora continua en la gestión de seguridad y salud, basados en el análisis de
                    datos.
                </li>
            </ul>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Competencias y habilidades</b>
            <p class="mb-2">
                Aplica normativas de salud y seguridad laboral, identificando y evaluando riesgos, y desarrollando
                medidas preventivas para minimizar accidentes y enfermedades profesionales. Colabora en equipos
                multidisciplinarios y elabora planes de emergencia, asegurando una comunicación efectiva de los
                procedimientos. Implementa metodologías y modelos para el análisis de riesgos y promueve prácticas
                sostenibles que favorecen la mejora continua en la seguridad laboral.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Mercado Laboral</b>
            <p class="mb-2">
                Un profesional en Seguridad y Prevención de Riesgos Laborales puede trabajar en empresas públicas,
                privadas y emprendimientos, identificando y mitigando riesgos para crear entornos laborales seguros. Sus
                oportunidades incluyen liderar proyectos en industrias como la construcción, diseñar programas de
                prevención personalizados, ofrecer consultoría y capacitar a otros en normativas y planes de emergencia.
                Además, puede colaborar con ONGs y proyectos comunitarios, contribuyendo al desarrollo sostenible, la
                protección ambiental y el bienestar general.
            </p>
        </div>
        <div class="gap-8 text-justify mb-5" #mallaSeguridadPrevencionRiesgosLaborales
            id="mallaSeguridadPrevencionRiesgosLaborales" style="margin-left: 15%; margin-right: 15%;">
            <b class="font-semibold text-2xl">Malla Curricular</b>
            <app-pdf-viewer [showDownloadButton]="true"
                src="/assets/modules/escuelas-mallas-pdfs/Seguridad y Prevención de Riesgos Laborales.pdf"></app-pdf-viewer>
            <!-- <div class="flex justify-center">
                <img src="../../../assets/modules/escuela-administracion-industria/MALLA MARKETING.png"
                    style="width:80%;">
            </div>
            <div class="mt-5 text-center">
                <a href="../../../assets/modules/escuela-administracion-industria/MALLA Técnico Superior en Marketing Digital.pdf"
                    download
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Descargar malla
                </a>
            </div> -->
        </div>
    </section>
</div>
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
