<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div class="flex flex-row gap-8 justify-center" style="margin-left: 15%; margin-right: 15%;">
    <ul class="list-outside list-none mb-2">
        <li *ngIf="title == 'Danza'" class="gap-8 justify-center mt-4">
            <div class="gap-4 text-justify">
                <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] ">Club de Danza</h2>
                <p>
                    El club de danza reúne a miembros de la comunidad educativa sin discriminación alguna, practicando
                    diversos tipos de danzas que se conectan con los principios y valores histórico-culturales de
                    múltiples sociedades. Sus sesiones son de carácter presencial, asegurando su participación en
                    eventos en representación del Instituto Superior Tecnológico Superarse.
                </p>
            </div>
            <div class="flex flex-row gap-4 text-justify mt-4">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/danza/1.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/danza/2.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/danza/3.png" class="mx-auto w-1/3" />
            </div>
            <div class="flex flex-row gap-4 text-justify mt-4">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/danza/4.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/danza/5.png" class="mx-auto w-1/3" />
            </div>
        </li>
        <li *ngIf="title == 'Equitación'" class="gap-8 justify-center mt-4">
            <div class="gap-4 text-justify">
                <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] ">Club de Equitación</h2>
                <p>
                    El club de equitación es parte del Programa de Psicología Positiva, dado que la conexión
                    equino-humano proporciona herramientas necesarias para el correcto manejo del estrés, ansiedad,
                    depresión o situaciones que puedan comprometer la salud mental de los estudiantes.
                </p>
            </div>
            <div class="flex flex-row gap-4 text-justify mt-4">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/equitacion/1.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/equitacion/2.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/equitacion/3.png" class="mx-auto w-1/3" />
            </div>
            <div class="flex flex-row gap-4 text-justify mt-4">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/equitacion/4.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/equitacion/5.png" class="mx-auto w-1/3" />
            </div>
        </li>
        <li *ngIf="title == 'Muay Thai'" class="gap-8 justify-center mt-4">
            <div class="gap-4 text-justify">
                <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] ">Club de Muay Thai</h2>
                <p>
                    El Muay Thai es un arte marcial tailandés que se caracteriza por el uso de los puños, codos,
                    rodillas y pies. también se le conoce como boxeo tailandés o el arte de las ocho extremidades.
                </p>
                <p>
                    Características:
                </p>
                <ul class="list-outside list-disc mb-2" style="margin-left: 10%; margin-right: 10%;">
                    <li>
                        Es un deporte de combate cuerpo a cuerpo
                    </li>
                    <li>
                        Se practica de pie
                    </li>
                    <li>
                        Se utilizan puñetazos, codazos, patadas, rodillazos, lanzamientos y agarres
                    </li>
                    <li>
                        Se suele acompañar de música Sarama
                    </li>
                    <li>
                        Los combates se desarrollan en un cuadrilatero acordonado
                    </li>
                    <li>
                        Los luchadores usan protectores bucales e inguinales
                    </li>
                    <li>
                        Los luchadores se dividen en pesos
                    </li>
                </ul>
            </div>
            <div class="flex flex-row gap-4 text-justify mt-4">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/muay-thai/1.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/muay-thai/2.png" class="mx-auto w-1/3" />
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/muay-thai/3.png" class="mx-auto w-1/3" />
            </div>
        </li>


        <!-- <li class="flex flex-row gap-8 justify-center mt-4">
            <div class="w-1/3 flex flex-col gap-4 text-justify">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/equitacion/4.png" class="mx-auto" />
            </div>
            <div class="w-2/3 flex flex-col gap-4 text-justify">
                <label class="font-semibold text-xl">Club de Equitación</label>
                <p>
                    El club de equitación es parte del Programa de Psicología Positiva, dado que la conexión
                    equino-humano proporciona herramientas necesarias para el correcto manejo del estrés, ansiedad,
                    depresión o situaciones que puedan comprometer la salud mental de los estudiantes.
                </p>
            </div>
        </li>
        <li class="flex flex-row gap-8 justify-center mt-4">
            <div class="w-1/3 flex flex-col gap-4 text-justify">
                <img src="/assets/modules/bienestar-institucional/SERVICIOS/5/muay-thai/3.png" class="mx-auto" />
            </div>
            <div class="w-2/3 flex flex-col gap-4 text-justify">
                <label class="font-semibold text-xl">Club de Muay Thai</label>
                <p>
                    El Muay Thai es un arte marcial tailandés que se caracteriza por el uso de los puños, codos,
                    rodillas y pies. también se le conoce como boxeo tailandés o el arte de las ocho extremidades.
                </p>
                <p>
                    Características:
                </p>
                <ul class="list-outside list-disc mb-2" style="margin-left: 10%; margin-right: 10%;">
                    <li>
                        Es un deporte de combate cuerpo a cuerpo
                    </li>
                    <li>
                        Se practica de pie
                    </li>
                    <li>
                        Se utilizan puñetazos, codazos, patadas, rodillazos, lanzamientos y agarres
                    </li>
                    <li>
                        Se suele acompañar de música Sarama
                    </li>
                    <li>
                        Los combates se desarrollan en un cuadrilatero acordonado
                    </li>
                    <li>
                        Los luchadores usan protectores bucales e inguinales
                    </li>
                    <li>
                        Los luchadores se dividen en pesos
                    </li>
                </ul>
            </div>
        </li> -->
        <li class="gap-8 justify-center mt-4">
            <label class="font-semibold text-xl">¡Contáctanos!</label>
            <p>
                <b>Responsable:</b> Lic. Carolina Baquero
            </p>
            <p>
                <b>Teléfono fijo:</b> 02-390 980 ext. 115
            </p>
            <p>
                <b>Celular:</b> 0997639111
            </p>
        </li>
    </ul>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
