<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Congreso de Topografía 2023
    </h2>
    <div class="flex flex-col gap-2 mb-4 text-justify">
        <img src="../../../../assets/modules/investigación/eventos/portada.png" style="width:100%;">
    </div>
    <div class="flex flex-col gap-4 text-justify">
        <p>
            El <b>CONGRESO INTERNACIONAL DE TOPOGRAFÍA Y GEODESIA</b> es un evento de referencia en el sector, diseñado
            como un
            espacio de encuentro y divulgación para organizaciones dedicadas a la construcción, planificación urbana,
            gestión de recursos naturales y cartografía. Asimismo, reúne a investigadores independientes, topógrafos,
            ingenieros, arquitectos, geólogos y otros profesionales vinculados con la medición y representación de la
            superficie terrestre. Durante el congreso, los participantes tienen la oportunidad de presentar sus
            proyectos, compartir avances científicos y establecer alianzas estratégicas con empresas del sector.
        </p>
        <p>
            La topografía es una disciplina esencial para el estudio detallado de la superficie terrestre. Abarca desde
            los procedimientos y operaciones de campo hasta los métodos de cálculo y procesamiento de datos, permitiendo
            la representación precisa del terreno en planos o mapas a escala.
        </p>
        <p>
            Por su parte, la geodesia se enfoca en el análisis de la forma y dimensiones de la Tierra, incluyendo la
            determinación de su campo gravitatorio y la exploración del fondo oceánico. También estudia la orientación y
            posición del planeta en el espacio, aportando información clave para diversas áreas científicas y
            tecnológicas.
        </p>
        <p>
            La promoción de congresos como este fomenta una cultura de investigación tanto individual como colectiva,
            incentivando el análisis y la búsqueda de soluciones para desafíos sociales, culturales, económicos,
            laborales y científicos. A través de metodologías sistemáticas y eficientes, se generan propuestas
            innovadoras para abordar las problemáticas del entorno.
        </p>
        <p>
            En la actualidad, el sistema de educación superior del Ecuador está desempeñando un papel clave en el avance
            de la topografía y geodesia, abriendo nuevas oportunidades para el desarrollo académico y profesional en
            estas áreas.
        </p>
        <p>
            Memorias del Primer Congreso Internacional de Topografía y Geodesia 2023 han sido publicadas en la revista
            científica "Conectividad", en el Vol.4 N°2, del ISTER
        </p>
        <div class="mb-4 mt-1 text-center">
            <a href="https://revista.ister.edu.ec/ojs/index.php/ISTER/article/view/104" target="_blank"
                class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                Leer el Artículo
            </a>
        </div>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
