<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div style="margin-left: 15%; margin-right: 15%;">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]">
        Seminario Equino
    </h2>
    <div class="flex flex-col gap-2 mb-4 text-justify">
        <img src="../../../../assets/modules/investigación/eventos/portada2.png" style="width:100%;">
    </div>
    <div class="flex flex-col gap-4 text-justify">
        <p>
            El <b>Seminario Equino - Práctico Manejo y Clínica Equina</b>, realizado del 26 al 28 de julio en la
            Hacienda Agusbella, marcó un hito al convertirse en el primer evento de su tipo en la región del Valle.
            Durante tres días, el seminario reunió a apasionados del mundo ecuestre: propietarios, cuidadores,
            veterinarios y estudiantes, todos con un objetivo común: perfeccionar sus conocimientos y habilidades en el
            cuidado y manejo de los equinos.
        </p>
        <p>
            Los asistentes tuvieron la oportunidad de sumergirse en un programa integral diseñado por expertos del
            sector. A través de sesiones teóricas y prácticas, exploraron temas fundamentales como técnicas de
            alimentación, manejo equino, diagnóstico y tratamiento de enfermedades comunes. La combinación de
            aprendizaje estructurado y práctica en campo permitió a los participantes aplicar de inmediato lo aprendido,
            consolidando así sus conocimientos.
        </p>
        <p>
            Uno de los aspectos más destacados del evento fue la interacción cercana con los ponentes. Los asistentes
            pudieron formular preguntas, recibir asesoría personalizada y compartir experiencias, fomentando un ambiente
            de aprendizaje dinámico y colaborativo. Este intercambio enriqueció aún más la experiencia, fortaleciendo la
            comunidad ecuestre y promoviendo el bienestar de los caballos.
        </p>
        <p>
            En conclusión, el 1° Seminario Teórico-Práctico de Manejo y Clínica Equina fue un evento excepcional, que no
            solo permitió adquirir conocimientos de alto nivel, sino que también reafirmó la importancia del manejo
            responsable y el bienestar equino. Sin duda, una experiencia única para todos los amantes de estos
            majestuosos animales.
        </p>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
