<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6] " style="margin-left: 15%; margin-right: 15%;">Biblioteca
    Virtual eLibro</h2>
<div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <b class="font-semibold text-3xl">Objetivo de la biblioteca digital</b>
    <p class="mb-2">
        Descarga la hoja de inscripción, llena con tus datos personales, firma el documento, escanea y envía en formato
        PDF, al correo matriculas&#64;superarse.edu.ec con el asunto HOJA DE INSCRIPCIÓN:
    </p>
    <ul class="list-outside list-disc mb-2" style="margin-left: 5%; margin-right: 5%;">
        <li>
            Promover el uso de recursos digitales que pertenecen al Instituto Superior Tecnológico Superarse, para los
            procesos de docencia e investigación.
        </li>
        <li>
            Proporcionar acceso fácil y conveniente a una vasta cantidad de información desde cualquier lugar y momento
            siempre y cuando cuente con acceso a internet.
        </li>
        <li>
            (Ofrecer accesos a las personas con discapacidad, material con formatos adaptativos).
        </li>
        <li>
            Apoyar la educación y el aprendizaje al proporcionar recursos educativos accesibles para estudiantes,
            profesores e investigadores.
        </li>
    </ul>
</div>

<div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

<div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <b class="font-semibold text-3xl">Horarios de atención</b>
    <p class="mb-2">
        <b class="font-semibold text-1xl">Dirección:</b> Av. General Rumiñahui 1111 Isla Pinta
        <br>
        <b class="font-semibold text-1xl">Horario de atención:</b> Lunes-Viernes de 9:00 am a 4:00 pm
    </p>
</div>

<div class="mt-5 text-center">
    <a target="_blank"
        href="https://elibro.net/es/lc/superarse/inicio/"
        class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
        Ir a la Plataforma
    </a>
</div>

<div class="border-t-4 border-gray-300 my-5" style="margin-left: 15%; margin-right: 15%;"></div>

<div class="gap-8 text-justify mb-5" style="margin-left: 15%; margin-right: 15%;">
    <b class="font-semibold text-3xl">Video Tutorial</b>
    <div class="relative w-full">
        <video #eLibroVideo autoplay controls loop playsinline loop class="w-full object-cover object-top">
            <source
                src="/assets/modules/biblioteca/Tutorial Biblioteca Virtual.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
