<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>

<div id="body">
    <h2 class="font-semibold text-5xl py-8 mt-4 text-[#1283C6]" style="margin-left: 15%; margin-right: 15%;">
        Investigación
    </h2>

    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Publicación Mayo - Octubre 2024</b>
            <p class="font-semibold text-3xl">
                Employer Branding: Estrategias de Atracción y Retención del Talento en Emprendimientos
            </p>
            <p>
                <b>Escuela:</b> Administración e Industria
            </p>
            <p>
                <b>Emergentes por:</b> Sofía Astudillo, Mariela Ortega
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="investigacion-publicaciones-may-oct-2024"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Publicación Noviembre 2023 - Abril 2024</b>
            <p class="font-semibold text-3xl">
                Análisis del Storytelling de 30¨ en Tik Tok para generar tendencias en la generación Z
            </p>
            <p>
                <b>Escuela:</b> Administración e Industria
            </p>
            <p>
                <b>Emergentes por:</b> Karina Fabara, Israel Proaño
            </p>
            <p class="font-semibold text-3xl">
                Creación de narrativas digitales sobre los peligros y amenazas en red usando herramientas de inteligencia artificial
            </p>
            <p>
                <b>Escuela:</b> Educación y Humanidades
            </p>
            <p>
                <b>Emergentes por:</b> Santiago Pucha
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="investigacion-publicaciones-nov2023-abr2024"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Publicación Mayo - Octubre 2023</b>
            <p class="font-semibold text-3xl">
                Memorias del Primer Congreso Internacional de Topografía y Geodesia 2023
            </p>
            <p>
                <b>Escuela:</b> Construcción y Extracción Sostenible
            </p>
            <p>
                <b>Emergentes por:</b> Renee Jaramillo
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="investigacion-publicaciones-nov2023-abr2024"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4 flex flex-row gap-8" style="margin-left: 15%; margin-right: 15%;">
        <div class="flex flex-col gap-4 text-justify w-full">
            <b class="font-semibold text-3xl text-blue-400">Publicación Noviembre 2022 - Abril 2023</b>
            <p class="font-semibold text-3xl">
                Silvopastoral Systems as a Strategy for Reconversion of Livestock Farming in Ecuadorian Amazon
            </p>
            <p>
                <b>Escuela:</b> Veterinaria
            </p>
            <p>
                <b>Emergentes por:</b> Fausto Zacarías
            </p>
            <div class="mb-4 mt-1 text-center">
                <a href="investigacion-publicaciones-nov2022-abr2023"
                    class="hover:text-[#FBBF2D] hover:bg-white px-6 py-3 bg-[#1283C6] text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                    Más información
                </a>
            </div>
        </div>
    </div>
</div>
<vicarti-footer class="block" style="margin-top:64px;"></vicarti-footer>
<app-whatsapp></app-whatsapp>
